.live-chat {
  position: fixed;
  bottom: toRem(32);
  right: toRem(32);
  z-index: 99;

  @media (max-width: $mobile) {
    bottom: toRem(20);
    right: toRem(20);
  }

  &__modal {
    position: absolute;
    bottom: calc(100% + toRem(16));
    right: 0;
    width: toRem(374);
    background-color: var(--white);
    border-radius: toRem(24);
    box-shadow: 0 toRem(4) toRem(40) rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transform: translateY(toRem(10));
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    overflow: hidden;
    @media (max-width: $mobile) {
      width: toRem(282);
      bottom: calc(100% + toRem(8));
    }

    &[hidden] {
      display: none;
    }

    &--active {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }

    @media (max-width: $mobile) {
      width: calc(100vw - toRem(40));
      max-width: toRem(282);
    }
  }

  &__header {
    border-bottom: 1px solid var(--gray-1);
    padding: toRem(32);
    @media (max-width: $mobile) {
      padding: toRem(24);
    }
  }

  &__title {
    font-weight: 500;
    font-size: toRem(23);
    line-height: 1.3;
    color: var(--dark-violet);
    margin-bottom: toRem(12);

    @media (max-width: $mobile) {
      font-size: toRem(16);
      margin-bottom: toRem(4);
    }
  }

  &__subtitle {
    font-size: toRem(15);
    line-height: 1.4;
    color: var(--fade-violet-2);

    @media (max-width: $mobile) {
      font-size: toRem(14);
    }
  }

  &__options {
    list-style: none;
    padding: 0;
    margin: 0;
    padding: toRem(32);
    
    @media (max-width: $mobile) {
      padding: toRem(24);
    }
  }

  &__option {
    &:not(:last-child) {
      margin-bottom: toRem(16);
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: toRem(16);
    text-decoration: none;
    color: var(--dark-violet);
    font-size: toRem(15);
    font-weight: 500;
    transition: opacity 0.3s ease;
    &:not(:last-child){
      margin-bottom: toRem(24);
    }

    @media (any-hover: hover) {
      &:hover {
        opacity: 0.7;
      }
    }
    @media (max-width: $mobile) {
      font-size: toRem(14);
    }
  }

  &__icon {
    width: toRem(32);
    height: toRem(32);
    @media (max-width: $mobile) {
      width: toRem(24);
      height: toRem(24);
    }
  }

  &__text {
    font-weight: 500;
    font-size: toRem(15);
    line-height: 1.4;

    @media (max-width: $mobile) {
      font-size: toRem(14);
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: toRem(56);
    height: toRem(56);
    background-color: var(--white);
    border-radius: 50%;
    color: var(--white);
    font-size: toRem(24);
    cursor: pointer;
    border: none;
    box-shadow: var(--pagging-shadow);
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: relative;
    overflow: hidden;

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--dark-violet);
        transform: scale(1.05);
      }
    }

    @media (max-width: $mobile) {
      width: toRem(48);
      height: toRem(48);
      font-size: toRem(20);
    }

    .live-chat__button-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      pointer-events: none;
      will-change: transform, opacity;
      
      &--open {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
        
        &--dark {
          opacity: 1;
          display: block;
        }
        
        &--light {
          opacity: 0;
          display: none;
        }
        
        @media (any-hover: hover) {
          .live-chat__button:hover & {
            &--dark {
              opacity: 0;
              display: none;
            }
            
            &--light {
              opacity: 1;
              display: block;
            }
          }
        }
        
        @media (max-width: $mobile) {
          max-width: toRem(30);
        }
      }
      
      &--close {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.3);
        filter: brightness(0) saturate(100%);
        @media (max-width: $mobile) {
          max-width: toRem(30);
        }
      }
    }

    &[aria-expanded="true"] {
      .live-chat__button-icon {
        &--open {
          opacity: 0;
          transform: translate(-50%, -50%) scale(0.3);
          display: none !important;
        }
        
        &--close {
          opacity: 1;
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }
  }
}


.live-chat__button .live-chat__button-icon--open.live-chat__button-icon--dark {
  opacity: 1 !important;
  display: block !important;
}

.live-chat__button .live-chat__button-icon--open.live-chat__button-icon--light {
  opacity: 0 !important;
  display: none !important;
}

@media (any-hover: hover) {
  .live-chat__button:hover .live-chat__button-icon--open.live-chat__button-icon--dark {
    opacity: 0 !important;
    display: none !important;
  }
  
  .live-chat__button:hover .live-chat__button-icon--open.live-chat__button-icon--light {
    opacity: 1 !important;
    display: block !important;
  }
  .live-chat__modal--active + .live-chat__button:hover .live-chat__button-icon--open.live-chat__button-icon--light  {
    opacity: 0 !important;
    display: none !important;
  }
  
  .live-chat__button:hover .live-chat__button-icon--close {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
  }
}

.live-chat__button[aria-expanded="true"] .live-chat__button-icon--open.live-chat__button-icon--dark {
  opacity: 0 !important;
  display: none !important;
}

.live-chat__button[aria-expanded="true"] .live-chat__button-icon--open.live-chat__button-icon--light {
  opacity: 0 !important;
  display: none !important;
} 