:root {
	// Site colors (Кольори сайту):
	// The Main ============
	--violet: #6c0089;
	--dark-violet: #210529;
	--dark-violet-opacity: rgba(33, 5, 41, 0.5);
	--white: #ffffff;
	--gray-1: #f2f2f2;
	
	// Supplements =========
	--fade-violet-1: #9e93a2;
	--fade-violet-2: #7a697f;
	--fade-violet-3: #4d3754;
	--gray-2: #ebebeb;
	--gray-3: #F6F6F6;

	// Statuses ============
	--disabled-pink: #e2cce7;
	--beige: #fde1bb;
	--red: #cc3235;
	--green: #47b27c;

	// Shapes =============
	--vibrant-pink: #ff7fab;
	--yellow: #f9c736;
	--light-red: #f4bfc2;
	--light-green: #a3e8c5;
	--electric-blue: #1167fc;
	--light-blue: #edf3ff;
	// =================================================================


}