body::after {
	content: "";
	@extend %bgClrPopups;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.3s ease 0s;
	pointer-events: none;
	z-index: 149;
}
.popup-show body::after {
	opacity: 1;
}
.popup-show.popupIti-show body::after {
	z-index: 151;
}
.popup-show.popupRolldate-show body::after {
	@media (min-width:$mobileSmall){
		// display: none;
	}
}

.popupCart-show body::after {
	@media (min-width:$mobileSmall){
		opacity: 0;
	}
}

.popup {
	position: fixed;
	z-index: 150;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	transition: opacity 0.3s ease 0.3s;
	// overflow: auto;
	pointer-events: none;
	&.popup_show {
		opacity: 1;
		pointer-events: auto !important;
		transition-delay: 0s;
	}
	&.popup-full {
		@media (min-width:$mobileSmall){
			.popup__wrapper {
				justify-content: center;
				overflow-y: auto;
				padding: toRem(16);
			}
			.popup__content {
				transform: translate(0,0%);
				max-width: toRem(590);
				border-radius: toRem(30);
				padding: toRem(32);
			}
			.popup__close {
				width: toRem(40);
				height: toRem(40);
				border-radius: 50%;
				background-color: var(--gray-1);
				top: toRem(8);
				right: toRem(8);
				display: grid;
				place-items: center;
				transition: background-color .3s ease;
				&::before {
					display: none;
				}
				@media (any-hover: hover){
					&:hover{
						background-color: var(--violet);
						&::after {
							color: var(--white);
						}
					}
				}
			}
		}
		.popup__close {
			&::after {
				@extend %ic;
				@media (min-width:$mobileSmall){
					content: "\e91b";
					font-size: toRem(24);
					transition: color .3s ease;
				}
			}
		}
	}
	// .popup__wrapper
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		min-height: 100%;
		flex: 1 1 auto;
		width: 100%;
	}
	
	// .popup__content
	&__content {
		position: relative;
		background-color: var(--white);
		width: 100%;
		max-width: 900px;
		// max-height: 100svh;
		@extend %bgMobilePopup;
		// overflow: auto;
		opacity: 0;
		transform: translate(0%,100%);
		transition: transform 0.3s ease 0s, opacity .3s ease;
		.popup_show & {
				transform: translate(0,0%);
				opacity: 1;
				transition-delay: 0s;
			}
		}

	// .popup__close
	&__close {
		width: 100%;
		height: toRem(32);
		outline: none;
		// position: relative;
		position: absolute;
		top: 0;
		right: 0;
		&::before {
			content: '';
			position: absolute;
			top: toRem(8);
			left: 50%;
			transform: translate(-50%,0);
			width: toRem(70);
			height: toRem(5);
			border-radius: toRem(5);
			background-color: var(--fade-violet-1);
		}
	}
	// .popup__body
	&__body {
		// overflow: auto;
		// height: 100%;
		// max-height: calc(100svh - toRem(32));
	}
	// .popup__title
	&__title {
		@extend %fonsSize23-20;
	}
}

#popupIti.popup {
	z-index: 152;
	.popup__body {
		position: relative;
		height: 100%;
		min-height: toRem(300);
	}
} 
#popupRolldate.popup {
	@media (min-width:$mobileSmall){
		//  display: none; 
		//  pointer-events: none;
	}
	.popup__body {
	 position: relative;
	 height: 100%;
	 min-height: toRem(314);
 }
}

#popupCabinet.popup {
	.popup__content {
		padding: toRem(32) 0 0 0;
	}
}

#popupSearch.popup {
	.popup__content {
		background-color: var(--gray-1);
		padding: toRem(32) toRem(8) 0;
	}
	.popup__body {
		min-height: toRem(380);
	}
}

#popupCart.popup {
	@media (min-width:$mobileSmall){
		pointer-events: none !important;
		.popup__wrapper {
			flex-direction: row;
			padding: toRem(14);
		}
		.popup__content {
			position: relative;
			padding: toRem(8);
			max-width: toRem(400);
			min-height: calc(100svh - toRem(24));
			border-radius: toRem(24);
			box-shadow: 0 10px 250px 0 rgba(33, 5, 41, 0.24);
			transform: translate(0, 0);
			display: flex;
			flex-direction: column;
			.popup-show & {
				pointer-events: all;
			}
		}
		.popup__close {
			position: absolute;
			z-index: 5;
			top: toRem(24);
			right: toRem(24);
			width: toRem(32);
			height: toRem(32);
			&.icon-cross {
				&::before {
					content: "\e91b";
					position: relative;
					top: unset;
					left: unset;
					transform: translate(0,0);
					width: toRem(32);
					height: toRem(32);
					border-radius: 50%;
					background-color: var(--gray-1);
					font-size: toRem(20);
					display: grid;
					place-items: center;
					transition: color .3s ease, background-color .3s ease;
				}
			}
			@media (any-hover: hover){
				&:hover{
					&::before {
						background-color: var(--dark-violet);
						color: var(--white);
					}
				}
			}
		}
	}
	@media (max-width:$mobileSmall){
		.popup__content {
			display: flex;
			flex-direction: column;
			padding: toRem(32) toRem(24) toRem(0);
		}
	}
	.popup__body {
		flex: 1;
		display: flex;
		flex-direction: column;
	}
}

#popupFiltersAll.popup {
	.popup__content {
		background-color: var(--gray-1);
		padding: toRem(32) toRem(8) 0;
	}
	.popup__body {
		display: flex;
		flex-direction: column;
		min-height: 100%;
	}
}

#popupFiltersTypes.popup {
	.popup__content {
		background-color: var(--gray-1);
		padding: toRem(32) toRem(8) 0;
	}
	.popup__body {
		display: flex;
		flex-direction: column;
		min-height: 100%;
		.popup-body-filters__header {
			@extend %flexCenterGap8;
			justify-content: space-between;
			order: 0;
      padding: toRem(4) toRem(16) toRem(21);
			font-size: toRem(14);
		}
		.popup-body-filters__body {
			flex: 1;
			display: flex;
			flex-direction: column;
			gap: toRem(5);
			margin-bottom: toRem(8);
			.filters-location {
				order: 3;
			}
			.filters-denomination {
				order: 4;
			}
			.filters-for {
				order: 2;
			}
			.filters-type {
				order: 1;
			}

		}
		.popup-body-filters__footer {
			order: 6;
			background-color: var(--white);
			margin-inline: toRem(-8);
			box-shadow: 0 -4px 20px 0 rgba(33, 5, 41, 0.12);
		}
	}
}

#popupContactsUs.popup {
		@media (max-width:$mobileSmall){
				overflow-x: hidden;
			 overflow-y: auto; 
		}
		.popup__content {
			}
			.popup__close {
				@media (max-width:$mobileSmall){
					border-radius: toRem(24) toRem(24) 0 0;
				}
			}
			.popup__title {
				@media (min-width:$mobileSmall){
					margin-bottom: toRem(32);
				}
				@media (max-width:$mobileSmall){
					 text-align: center; 
				}
			}
			.popup__body {
				@media (max-width:$mobileSmall){
					margin-inline: toRem(-24);
					padding-inline: toRem(16); 
			}
		}
		.contacts-form-popup {
			// .contacts-form-popup__items
			&__items {
				display: grid; 
				gap: toRem(16) toRem(8);
				margin-bottom: toRem(32);
				@media (min-width:toEm(550.98)){
					grid-template-columns: 1fr 1fr;
				}
				.input__item {
					@media (min-width:toEm(550.98)){
						&:last-child {
							grid-column: span 2;
						}
					}
				}
			}
		}

}

.popup-cart {
	flex: 1;
	display: flex;
	flex-direction: column;
	// .popup-cart__header
	&__header {
		position: relative;
		@extend %fonsSize15-14;
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translate(-50%,0);
			height: toRem(1.5);
			background-color: var(--gray-1);
			@media (min-width:$mobileSmall){
				width: calc(100% + toRem(16));
			}
			@media (max-width:$mobileSmall){
				width: calc(100% + toRem(48));
			}
		}
		p {
			span {
				@extend  %fonsSize11-12;
			}
			&:not(:last-child) {
				@media (min-width:$mobileSmall){
					margin-bottom: toRem(8);
				}
			}
		}
		@media (min-width:$mobileSmall){
			padding: toRem(16) toRem(16) toRem(12);
		}
		@media (max-width:$mobileSmall){
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 0 toRem(20) 0;
		}
	}
	// .popup-cart__edit
	&__edit {
		span {
			@media (max-width:$mobileSmall){
				 display: none; 
			}
		}
	}
	// .popup-cart__buttons
	&__buttons {
		@extend %fonsSize13-14;
		&.timer {
			&._timer-active {
				.popup-cart__reserv {
					display: flex;
				}	
			}
		}
		@media (min-width:$mobileSmall){
			padding: toRem(16);
		}
		@media (max-width:$mobileSmall){
			padding: toRem(16) 0;
		}
	}
	// .popup-cart__reserv
	&__reserv {
		display: none;
		align-items: center;
		gap: toRem(4);
		min-height: toRem(24);
	}
	// .popup-cart__continue
	&__continue {
	}
	// .popup-cart__content
	&__content {
		overflow-y: auto;
		margin-bottom: toRem(20);
		@media (min-width:$mobileSmall){
			padding-inline: toRem(16);
			min-height: toRem(200);
			height: calc(100svh - 320px);
		}
		@media (max-width:$mobileSmall){
			min-height: toRem(300);
			// height: toRem(300);
		}
		@media (max-width: toEm(380.98)){
			height: toRem(200);
		}
		.orders-checkout__type {

		}
		.orders-checkout__sub-head {

		}
		.orders-checkout__type-txt {

		}
		.orders-checkout__subtotoal {

		}
		.orders-checkout__item {

		}
		.item-orders__img {

		}
		.item-orders__body {

		}
		.item-orders__title {

		}
		.item-orders__amount {

		}
		.item-orders__price {

		}
		.item-orders__button {

		}
		.item-orders__btn {

		}
	}
	// .popup-cart__footer
	&__footer {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
	// .popup-cart__footer-wr
	&__footer-wr {
		@media (min-width:$mobileSmall){
			border-radius: toRem(24);
			padding: toRem(16);
			background-color: var(--gray-1);
		}
		@media (max-width:$mobileSmall){
			box-shadow: 0 -4px 40px 0 rgba(33, 5, 41, 0.12); 
			padding: toRem(16) toRem(24) toRem(24);
			margin-inline: toRem(-24);
		}
	}
	// .popup-cart__total
	&__total {
		@extend %fonsSize13-14;
		@extend %flexCenterGap8;
		justify-content: space-between;
		&:not(:last-child) {
			@media (min-width:$mobileSmall){
				margin-bottom: toRem(16);
			}
			@media (max-width:$mobileSmall){
				margin-bottom: toRem(8);
			}
		}
	}
	// .popup-cart__sum
	&__sum {
		@extend %fonsSize23-20;
	}
	// .popup-cart__btn
	&__btn {
	}
}

// popup-slider-checkout =========================
.popup-slider-checkout {
	font-weight: 500;
	font-size: toRem(14);
	// .popup-slider-checkout__title
	&__title {
		margin-bottom: toRem(22);
	}
	// .popup-slider-checkout__items
	&__items {
		margin-bottom: toRem(16);
	}
	// .popup-slider-checkout__item
	&__item {
	}
	// .popup-slider-checkout__nav
	&__nav {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: toRem(8);
		margin-bottom: toRem(24);
	}
	// .popup-slider-checkout__nav-item
	&__nav-item {
		@media (max-width:$mobileSmall){
			.select__content {
				left: auto;
			}
			.quantity {
				.quantity__input {
					left: auto;
				}
			}
		}
	}
	// .popup-slider-checkout__count
	&__count {
		display: flex;
		align-items: center;
		justify-content: space-between;
		&:not(:last-child) {
			margin-bottom: toRem(16);
		}
	}
	// .popup-slider-checkout__total
	&__total {
		font-size: toRem(18);
	}
	// .popup-slider-checkout__btns
	&__btns {
	}
	// .popup-slider-checkout__btn
	&__btn {
	}
}

.item-popup-slider-checkout {
		display: grid;
		grid-template-columns: toRem(75) 1fr auto;
		gap: toRem(10);
		&:not(:last-child) {
			margin-bottom: toRem(8);
		}
	// .item-popup-slider-checkout__image
	&__image {
		overflow: hidden;
		border-radius: toRem(12);
		img {
			aspect-ratio: 75/48;
		}
	}
	// .item-popup-slider-checkout__body
	&__body {
	}
	// .item-popup-slider-checkout__title
	&__title {
		font-weight: 600;
		font-size: toRem(12);
		color: var(--fade-violet-2);
		&:not(:last-child) {
			margin-bottom: toRem(6);
		}
	}
	// .item-popup-slider-checkout__subtitle
	&__subtitle {
		font-size: toRem(13);
		line-height: 1.2;
	}
	// .item-popup-slider-checkout__btn
	&__btn {
		width: toRem(40);
		&:active {
			&::before {
				color: var(--dark-violet);
			}
		}
		&::before {
			font-size: toRem(24);
			color: var(--violet);
		}
	}
}


