body::after {
	content: "";
	@extend %bgClrPopups;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.3s ease 0s;
	pointer-events: none;
	z-index: 149;
}
.popup-show body::after {
	opacity: 1;
}
.popup-show.popupLogIn-show body::after {
	display: none;
}
.popup-show.popupIti-show body::after,
.popup-show.popupRolldate-show body::after {
	display: block;
	z-index: 151;
}

.popupCart-show body::after {
	@media (min-width:$mobileSmall){
		opacity: 0;
	}
}

.popup {
	position: fixed;
	z-index: 150;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	transition: opacity 0.3s ease 0.3s, visibility .3s ease 0.3s;
	// overflow: auto;
	pointer-events: none;
	visibility: hidden;
	&.popup_show {
		opacity: 1;
		visibility:visible;
		pointer-events: auto !important;
		transition-delay: 0s;
	}
	&.popup-full {
		@media (min-width:$mobileSmall){
			.popup__wrapper {
				justify-content: center;
				overflow-y: auto;
				padding: toRem(16);
			}
			.popup__content {
				transform: translate(0,0%);
				max-width: toRem(590);
				border-radius: toRem(30);
				padding: toRem(32);
			}
			.popup__close {
				width: toRem(40);
				height: toRem(40);
				border-radius: 50%;
				background-color: var(--gray-1);
				top: toRem(8);
				right: toRem(8);
				display: grid;
				place-items: center;
				transition: background-color .3s ease;
				&::before {
					display: none;
				}
				@media (any-hover: hover){
					&:hover{
						background-color: var(--violet);
						&::after {
							color: var(--white);
						}
					}
				}
			}
		}
		.popup__close {
			&::after {
				@extend %ic;
				@media (min-width:$mobileSmall){
					content: "\e91b";
					font-size: toRem(24);
					transition: color .3s ease;
				}
			}
		}
	}
	// .popup__wrapper
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		min-height: 100%;
		flex: 1 1 auto;
		width: 100%;
	}
	
	// .popup__content
	&__content {
		position: relative;
		background-color: var(--white);
		width: 100%;
		max-width: 900px;
		@extend %bgMobilePopup;
		opacity: 0;
		transform: translate(0%,100%);
		transition: transform 0.3s ease 0s, opacity .3s ease;
		.popup_show & {
				transform: translate(0,0%);
				opacity: 1;
				transition-delay: 0s;
			}
		}

	// .popup__close
	&__close {
		width: 100%;
		height: toRem(32);
		outline: none;
		// position: relative;
		position: absolute;
		top: 0;
		right: 0;
		&::before {
			content: '';
			position: absolute;
			top: toRem(8);
			left: 50%;
			transform: translate(-50%,0);
			width: toRem(70);
			height: toRem(5);
			border-radius: toRem(5);
			background-color: var(--fade-violet-1);
		}
	}
	// .popup__body
	&__body {
		// overflow: auto;
		// height: 100%;
		// max-height: calc(100svh - toRem(32));
	}
	// .popup__title
	&__title {
		@extend %fonsSize23-20;
	}
}

#popupIti.popup {
	z-index: 152;
	.popup__body {
		position: relative;
		height: 100%;
		min-height: toRem(300);
	}
} 
#popupRolldate.popup {
	z-index: 152;
	@media (min-width:$mobileSmall){
		//  display: none; 
		//  pointer-events: none;
	}
	.popup__body {
	 position: relative;
	 height: 100%;
	 min-height: toRem(314);
 }
}

#popupCabinet.popup {
	.popup__content {
		padding: toRem(32) 0 0 0;
	}
}

#popupSearch.popup {
	.popup__content {
		background-color: var(--gray-1);
		padding: toRem(32) toRem(8) 0;
	}
	.popup__body {
		min-height: toRem(380);
	}
}

#popupCart.popup {
	@media (min-width:$mobileSmall){
		pointer-events: none !important;
		.popup__wrapper {
			flex-direction: row;
			padding: toRem(14);
		}
		.popup__content {
			position: relative;
			padding: toRem(8);
			max-width: toRem(400);
			min-height: calc(100svh - toRem(24));
			border-radius: toRem(24);
			box-shadow: 0 10px 250px 0 rgba(33, 5, 41, 0.24);
			transform: translate(0, 0);
			display: flex;
			flex-direction: column;
			.popup-show & {
				pointer-events: all;
			}
		}
		.popup__close {
			position: absolute;
			z-index: 5;
			top: toRem(24);
			right: toRem(24);
			width: toRem(32);
			height: toRem(32);
			&.icon-cross {
				&::before {
					content: "\e91b";
					position: relative;
					top: unset;
					left: unset;
					transform: translate(0,0);
					width: toRem(32);
					height: toRem(32);
					border-radius: 50%;
					background-color: var(--gray-1);
					font-size: toRem(20);
					display: grid;
					place-items: center;
					transition: color .3s ease, background-color .3s ease;
				}
			}
			@media (any-hover: hover){
				&:hover{
					&::before {
						background-color: var(--dark-violet);
						color: var(--white);
					}
				}
			}
		}
	}
	@media (max-width:$mobileSmall){
		.popup__content {
			display: flex;
			flex-direction: column;
			padding: toRem(32) toRem(24) toRem(0);
		}
	}
	.popup__body {
		flex: 1;
		display: flex;
		flex-direction: column;
	}
}

#popupFiltersAll.popup {
	.popup__content {
		background-color: var(--gray-1);
		padding: toRem(32) toRem(8) 0;
	}
	.popup__body {
		display: flex;
		flex-direction: column;
		min-height: 100%;
	}
}

#popupFiltersTypes.popup {
	.popup__content {
		background-color: var(--gray-1);
		padding: toRem(32) toRem(8) 0;
	}
	.popup__body {
		display: flex;
		flex-direction: column;
		min-height: 100%;
		.popup-body-filters__header {
			@extend %flexCenterGap8;
			justify-content: space-between;
			order: 0;
      padding: toRem(4) toRem(16) toRem(21);
			font-size: toRem(14);
		}
		.popup-body-filters__body {
			flex: 1;
			display: flex;
			flex-direction: column;
			gap: toRem(5);
			margin-bottom: toRem(8);
			.filters-location {
				order: 3;
			}
			.filters-denomination {
				order: 4;
			}
			.filters-for {
				order: 2;
			}
			.filters-type {
				order: 1;
			}

		}
		.popup-body-filters__footer {
			order: 6;
			background-color: var(--white);
			margin-inline: toRem(-8);
			box-shadow: 0 -4px 20px 0 rgba(33, 5, 41, 0.12);
		}
	}
}

#popupContactsUs.popup {
		@media (max-width:$mobileSmall){
				overflow-x: hidden;
			 overflow-y: auto; 
		}
		.popup__content {
			}
			.popup__close {
				@media (max-width:$mobileSmall){
					border-radius: toRem(24) toRem(24) 0 0;
				}
			}
			.popup__title {
				@media (min-width:$mobileSmall){
					margin-bottom: toRem(32);
				}
				@media (max-width:$mobileSmall){
					 text-align: center; 
				}
			}
			.popup__body {
				@media (max-width:$mobileSmall){
					margin-inline: toRem(-24);
					padding-inline: toRem(16); 
			}
		}
		.contacts-form-popup {
			// .contacts-form-popup__items
			&__items {
				display: grid; 
				gap: toRem(16) toRem(8);
				margin-bottom: toRem(32);
				@media (min-width:toEm(550.98)){
					grid-template-columns: 1fr 1fr;
				}
				.input__item {
					@media (min-width:toEm(550.98)){
						&:last-child {
							grid-column: span 2;
						}
					}
				}
			}
		}

}

#popupRules.popup {
	.popup__wrapper {
		overflow: hidden;
	}
	.popup__close {
		@media (max-width:$mobileSmall){
			 z-index: 5; 
		}
	}
	.popup__content {
		@media (min-width:$mobileSmall){
			flex: 1;
			max-height: calc(100svh - toRem(200));
			min-height: toRem(360);
			display: grid;
			overflow: hidden;
			max-width: toRem(531); 
		}
		@media (max-width:$mobileSmall){
			 padding-block-end: toRem(0);
		}
	}
	.popup-body-rules {
		display: flex;
		flex-direction: column;
		min-height: 100%;
		@media (min-width:$mobileSmall){
			margin-inline: toRem(-32);
		}
		@media (max-width:$mobileSmall){
			margin-inline: toRem(-24);
			&._scroll-active {
				.popup-body-rules__header {
					box-shadow: 0 4px 50px 0 rgba(33, 5, 41, 0.16);
				}
			}
			&._scroll-end {
				.popup-body-rules__footer {
					box-shadow: none;
				}
			}
		}
		// .popup-body-rules__header
		&__header {
			@media (min-width:$mobileSmall){
				padding-inline: toRem(32);
				padding-bottom: toRem(8);
			}
			@media (max-width:$mobileSmall){
				position: relative;
				padding-inline: toRem(16);
				padding-bottom: toRem(22);
				.head-popup-rules {
					display: none;
				}
				&::before {
					content:'';
					position: absolute;
					// z-index: -1;
					width: 100%;
					height: 100%;
					top: -32px;
					left: 0;
					background-color: var(--white);
					border-radius: toRem(24) toRem(24) 0 0;
				}
			}
		}
		// .popup-body-rules__title
		&__title {
			@include adaptiveValue("font-size", 23, 14,0,1400.98,480.98);
			@media (min-width:$mobileSmall){
				margin-bottom: toRem(8);
			}
			@media (max-width:$mobileSmall){
				 position: relative;
				 z-index: 3; 
			}
		}
		&__main {
			flex: 1;
			margin-right: toRem(1.5);
			@media (min-width:$mobileSmall){
				mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 5%, #fff 95%, rgba(255, 255, 255, 0) 100%);
				-webkit-mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 5%, #fff 95%, rgba(255, 255, 255, 0) 100%);
				
				min-height: toRem(140);
				max-height: calc(100svh - toRem(168) - toRem(64) - toRem(190));
			}
			@media (max-width:$mobileSmall){
				max-height: calc(100svh - toRem(200));

			}
		}
		// .popup-body-rules__content
		&__content {
			overflow-y: auto;
			overscroll-behavior: contain;
			max-height: inherit;
			@media (min-width:$mobileSmall){
				min-height: toRem(140);
				padding-top: toRem(26);
				padding-left: toRem(32);
				padding-right: toRem(28);
				.head-popup-rules {
					display: none;
				}
			}
			@media (max-width:$mobileSmall){
				 padding-inline: toRem(16); 
			}
		}
		// .popup-body-rules__head
		&__head {
		}
		// .popup-body-rules__info-card
		&__info-card {
			.info-card__body {
				grid-template-columns: repeat(auto-fit,minmax(toRem(170), 1fr));
				.info-card__text {
					@media (min-width:$mobileSmall){
						 max-width: 70%; 
					}
				}
			}
		}
		// .popup-body-rules__rules
		&__rules {
		}
		// .popup-body-rules__rules-title
		&__rules-title {
			@extend %fonsSize13-14;
		}
		// .popup-body-rules__footer
		&__footer {
			@media (min-width:$mobileSmall){
				padding-top: toRem(32);
				padding-inline: toRem(32);
			}
			@media (max-width:$mobileSmall){
				 padding: toRem(16); 
				 box-shadow: 0 -4px 40px 0 rgba(33, 5, 41, 0.15);
				 ._scroll-end & {
					box-shadow: none;
				 }
			}
		}
	}
	.head-popup-rules {
		display: flex;
		align-items: center;
		@media (min-width:$mobileSmall){
			 gap: toRem(9); 
		}
		@media (max-width:$mobileSmall){
			gap: toRem(12); 
		}
		// .head-popup-rules__img
		&__img {
			img {
				aspect-ratio: 62/40;
				@media (min-width:$mobileSmall){
					 border-radius: toRem(8); 
					}
					@media (max-width:$mobileSmall){
					border-radius: toRem(10); 
					box-shadow: 0 1px 17px 0 rgba(33, 5, 41, 0.16);
				}
			}
			@media (min-width:$mobileSmall){
				max-width: toRem(62);
			}
			@media (max-width:$mobileSmall){
				max-width: toRem(92);
			}
		}
		// .head-popup-rules__body
		&__body {
		}
		// .head-popup-rules__category
		&__category {
			@extend %fonsSize11-12;
			color: var(--fade-violet-2);
			margin-bottom: toRem(8);
		}
		// .head-popup-rules__name
		&__name {
			line-height: 1.2;
			@extend %fonsSize15-18;
		}
	}

}

#popupQuestion.popup {
	@media (max-width:$mobileSmall){
		overflow-x: hidden;
	 overflow-y: auto; 
	}
	.popup__content {
		max-width: toRem(525);
		@media (max-width:$mobileSmall){
			padding: toRem(32) toRem(16) toRem(16) toRem(16);
		}
	}
	.popup-question {
		// .popup-question__head
		&__head {
			text-align: center;
			margin-bottom: toRem(32);
		}
		// .popup-question__title
		&__title {
			margin-bottom: toRem(16);
		}
		// .popup-question__subtitle
		&__subtitle {
			@extend %fonsSize13-14;
			color: var(--fade-violet-2);
		}
		// .popup-question__form
		&__form {
		}
		// .popup-question__items
		&__items {
			margin-bottom: toRem(32);
			display: grid;
			gap: toRem(16) toRem(8);
			@media (min-width:$mobileSmall){
				grid-template-columns: 1fr 1fr;
				.input__item {
					&:nth-child(3),
					&:nth-child(4) {
						grid-column: span 2;
					}
				} 
			}
		}
	}
}

#popupReviews.popup {
	@media (max-width:$mobileSmall){
		overflow-x: hidden;
		overflow-y: auto; 
	}
	.popup__content {
		max-width: toRem(468);
		@media (max-width:$mobileSmall){
			padding: toRem(32) toRem(16) toRem(16) toRem(16);
		}
	}
	.popup-reviews {
		// .popup-reviews__title
		&__title {
			text-align: center;
			margin-bottom: toRem(24);
		}
		// .popup-reviews__form
		&__form {
		}
		// .popup-reviews__items
		&__items {
			display: grid;
			gap: toRem(16);
			margin-bottom: toRem(32);
		}
		// .popup-reviews__rating
		&__rating {
			display: flex;
			justify-content: center;
			margin-bottom: toRem(32);
			.rating {
				display: inline-block;
			}
			.rating__items {
				gap: toRem(14.4);
			}
			.rating__item {
				flex: 0 0 toRem(24);
				width: toRem(24);
				height: toRem(24);
				background-size: toRem(24);
				&:not(:last-child) {
					&::after {
						width: toRem(14.4);
					}
				}
			}
			
		}
		// .popup-reviews__add-photo
		&__add-photo {
		}
	}
	.add-photo {
		display: grid;
		@media (min-width:$mobileSmall){
			 gap: toRem(8); 
		}
		@media (max-width:$mobileSmall){
			gap: toRem(16); 
		}
		// .add-photo__label
		&__label {
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			@media (min-width:$mobileSmall){
				min-height: toRem(40); 
				border-radius: toRem(20);
				background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='%239E93A2FF' stroke-width='3' stroke-dasharray='3%2c 6' stroke-dashoffset='21' stroke-linecap='square'/%3e%3c/svg%3e");
			}
			@media (max-width:$mobileSmall){
				min-height: toRem(48); 
				border-radius: toRem(24);
				background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='24' ry='24' stroke='%239E93A2FF' stroke-width='3' stroke-dasharray='3%2c 6' stroke-dashoffset='16' stroke-linecap='square'/%3e%3c/svg%3e");
			}
		}
		// .add-photo__input
		&__input {
		}
		// .add-photo__block
		&__block {
			@extend %flexCenterGap8;
			@extend %fonsSize13-14;
			gap: toRem(16);
			&:before {
				font-size: toRem(24);
			}
		}
		// .add-photo__img
		&__img {
			width:max-content;
			position: relative;
			img {
				max-width: toRem(120);
				height: auto;
				border-radius: toRem(12);
			}
		}
		// .add-photo__remove
		&__remove {
			position: absolute;
			top: toRem(4);
			right: toRem(4);
			width: toRem(16);
			aspect-ratio: 1;
			border-radius: 50%;
			background-color: var(--white);
			display: grid;
			place-items: center;
			cursor: pointer;
			transition: background-color .2s ease, color .2s ease;
			&::before {
				font-size: toRem(12);
			}
			@media (any-hover: hover){
				&:hover{
					background-color: var(--dark-violet);
					color: var(--white);
				}
			}
		}
	}
}

#popupAvailability.popup {
	.popup__content {
		max-width: toRem(450);
		@media (max-width:$mobileSmall){
			padding: toRem(32) toRem(16) toRem(16) toRem(16);
		}
	}
	.popup-availability {
		// .popup-availability__head
		&__head {
			margin-bottom: toRem(32);
			text-align: center;
		}
		// .popup-availability__title
		&__title {
			margin-bottom: toRem(12);
		}
		// .popup-availability__subtitle
		&__subtitle {
			@extend %fonsSize13-14;
			line-height: 1.46;
			color: var(--fade-violet-2);
		}
		// .popup-availability__form
		&__form {
		}
		// .popup-availability__items
		&__items {
			display: grid;
			gap: toRem(16);
			margin-bottom: toRem(32);
		}
	}
}

#popupAvailabilityMsg.popup {
	.popup__content {
		max-width: toRem(450);
		@media (max-width:$mobileSmall){
			padding: toRem(32) toRem(16) toRem(16) toRem(16);
		}
	}
	.popup-msg {
		text-align: center;
		@media (max-width:$mobileSmall){
			 padding-bottom: toRem(24); 
		}
		// .popup-msg__head
		&__head {
			margin-bottom: toRem(32);
			text-align: center;
		}
		// .popup-msg__icon
		&__icon {
			display: inline-block;
			margin-inline: auto;
			margin-bottom: toRem(16);
			&::before {
				font-size: toRem(32);
				color: var(--green);
			}
		}
		// .popup-msg__title
		&__title {
			margin-bottom: toRem(12);
		}
		// .popup-msg__subtitle
		&__subtitle {
			@extend %fonsSize13-14;
			line-height: 1.46;
			color: var(--fade-violet-2);
		}
		// .popup-msg__bottom
		&__bottom {
			@extend %fonsSize13-14;
			line-height: 1.46;
		}
	}
}

.popup-cart {
	flex: 1;
	display: flex;
	flex-direction: column;
	// .popup-cart__header
	&__header {
		position: relative;
		@extend %fonsSize15-14;
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translate(-50%,0);
			height: toRem(1.5);
			background-color: var(--gray-1);
			@media (min-width:$mobileSmall){
				width: calc(100% + toRem(16));
			}
			@media (max-width:$mobileSmall){
				width: calc(100% + toRem(48));
			}
		}
		p {
			span {
				@extend  %fonsSize11-12;
			}
			&:not(:last-child) {
				@media (min-width:$mobileSmall){
					margin-bottom: toRem(8);
				}
			}
		}
		@media (min-width:$mobileSmall){
			padding: toRem(16) toRem(16) toRem(12);
		}
		@media (max-width:$mobileSmall){
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 0 toRem(20) 0;
		}
	}
	// .popup-cart__edit
	&__edit {
		span {
			@media (max-width:$mobileSmall){
				 display: none; 
			}
		}
	}
	// .popup-cart__buttons
	&__buttons {
		@extend %fonsSize13-14;
		&.timer {
			&._timer-active {
				.popup-cart__reserv {
					display: flex;
				}	
			}
		}
		@media (min-width:$mobileSmall){
			padding: toRem(16);
		}
		@media (max-width:$mobileSmall){
			padding: toRem(16) 0;
		}
	}
	// .popup-cart__reserv
	&__reserv {
		display: none;
		align-items: center;
		gap: toRem(4);
		min-height: toRem(24);
	}
	// .popup-cart__continue
	&__continue {
	}
	// .popup-cart__content
	&__content {
		overflow-y: auto;
		margin-bottom: toRem(20);
		@media (min-width:$mobileSmall){
			padding-inline: toRem(16);
			min-height: toRem(200);
			height: calc(100svh - 320px);
		}
		@media (max-width:$mobileSmall){
			min-height: toRem(300);
			// height: toRem(300);
		}
		@media (max-width: toEm(380.98)){
			height: toRem(200);
		}
		.orders-checkout__type {

		}
		.orders-checkout__sub-head {

		}
		.orders-checkout__type-txt {

		}
		.orders-checkout__subtotoal {

		}
		.orders-checkout__item {

		}
		.item-orders__img {

		}
		.item-orders__body {

		}
		.item-orders__title {

		}
		.item-orders__amount {

		}
		.item-orders__price {

		}
		.item-orders__button {

		}
		.item-orders__btn {

		}
	}
	// .popup-cart__footer
	&__footer {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
	// .popup-cart__footer-wr
	&__footer-wr {
		@media (min-width:$mobileSmall){
			border-radius: toRem(24);
			padding: toRem(16);
			background-color: var(--gray-1);
		}
		@media (max-width:$mobileSmall){
			box-shadow: 0 -4px 40px 0 rgba(33, 5, 41, 0.12); 
			padding: toRem(16) toRem(24) toRem(24);
			margin-inline: toRem(-24);
		}
	}
	// .popup-cart__total
	&__total {
		@extend %fonsSize13-14;
		@extend %flexCenterGap8;
		justify-content: space-between;
		&:not(:last-child) {
			@media (min-width:$mobileSmall){
				margin-bottom: toRem(16);
			}
			@media (max-width:$mobileSmall){
				margin-bottom: toRem(8);
			}
		}
	}
	// .popup-cart__sum
	&__sum {
		@extend %fonsSize23-20;
	}
	// .popup-cart__btn
	&__btn {
	}
}

// popup-slider-checkout =========================
.popup-slider-checkout {
	font-weight: 500;
	font-size: toRem(14);
	// .popup-slider-checkout__title
	&__title {
		margin-bottom: toRem(22);
	}
	// .popup-slider-checkout__items
	&__items {
		margin-bottom: toRem(16);
	}
	// .popup-slider-checkout__item
	&__item {
	}
	// .popup-slider-checkout__nav
	&__nav {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: toRem(8);
		margin-bottom: toRem(24);
	}
	// .popup-slider-checkout__nav-item
	&__nav-item {
		@media (max-width:$mobileSmall){
			.select__content {
				left: auto;
			}
			.quantity {
				.quantity__input {
					left: auto;
				}
			}
		}
	}
	// .popup-slider-checkout__count
	&__count {
		display: flex;
		align-items: center;
		justify-content: space-between;
		&:not(:last-child) {
			margin-bottom: toRem(16);
		}
	}
	// .popup-slider-checkout__total
	&__total {
		font-size: toRem(18);
	}
	// .popup-slider-checkout__btns
	&__btns {
	}
	// .popup-slider-checkout__btn
	&__btn {
	}
}

.item-popup-slider-checkout {
		display: grid;
		grid-template-columns: toRem(75) 1fr auto;
		gap: toRem(10);
		&:not(:last-child) {
			margin-bottom: toRem(8);
		}
	// .item-popup-slider-checkout__image
	&__image {
		overflow: hidden;
		border-radius: toRem(12);
		img {
			aspect-ratio: 75/48;
		}
	}
	// .item-popup-slider-checkout__body
	&__body {
	}
	// .item-popup-slider-checkout__title
	&__title {
		font-weight: 600;
		font-size: toRem(12);
		color: var(--fade-violet-2);
		&:not(:last-child) {
			margin-bottom: toRem(6);
		}
	}
	// .item-popup-slider-checkout__subtitle
	&__subtitle {
		font-size: toRem(13);
		line-height: 1.2;
	}
	// .item-popup-slider-checkout__btn
	&__btn {
		width: toRem(40);
		&:active {
			&::before {
				color: var(--dark-violet);
			}
		}
		&::before {
			font-size: toRem(24);
			color: var(--violet);
		}
	}
}

// Popup #popupLogIn =====================
.popup-login {
	transition: opacity .3s ease 0s;
	background-color: var(--gray-1);
	min-height: 100svh;
	&.popup-full {
		.popup__content {
			max-width: 100% !important;
			// min-height: 100svh;
			height: 100%;
			transform: translate(0%,0%);
			border-radius: 0 !important;
			background-color: transparent;
			box-shadow: none;
			@media (min-width:toEm(700.98)){
				padding: toRem(140) toRem(32) toRem(32);				
			}
			@media (max-width:toEm(700.98)){
				padding: toRem(68) toRem(16) toRem(120);
			}
		}
	}
	// .popup-login__content
	&__content {
		overflow-y: auto;
		z-index: 2;
		.popup-account & {
			display: grid;
			align-items: center;
			@media (min-width:toEm(700.98)){
				padding: toRem(32) !important;
			}
			@media (max-width:toEm(700.98)){
				padding: toRem(68) toRem(16) toRem(24) !important;
			}
		}
	}
	// .popup-login__header
	&__header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 5;
		pointer-events: none;
		@extend %flexCenterGap8;
		justify-content: space-between;
		@media (min-width:$mobileSmall){
			padding: toRem(32) toRem(32) toRem(16);
		}
		@media (max-width:$mobileSmall){
			padding: toRem(12) toRem(16) toRem(12);
			background-color: var(--gray-1);
			border-radius: 0 0 toRem(24) toRem(24);
			transition: box-shadow .3s ease;
			._scroll-content & {
				box-shadow: 0 4px 20px 0 rgba(33, 5, 41, 0.12);
			}
		}
	}
	// .popup-login__logo
	&__logo {
	
	}
	// .popup-login__close
	&__close {
		pointer-events: all;
		background-color: var(--dark-violet);
		aspect-ratio: 1;
		border-radius: 50%;
		display: grid;
		place-items: center;
		transition: background-color .2s ease, color .2s ease;
		@media (min-width:$mobileSmall){
			width: toRem(40);
		}
		@media (max-width:$mobileSmall){
			width: toRem(32);
		}
		&::before {
			color: var(--white);
			@media (min-width:$mobileSmall){
				font-size: toRem(24);
			}
			@media (max-width:$mobileSmall){
				font-size: toRem(24);				
			}
		}
		@media (any-hover: hover){
			&:hover{
				background-color: var(--violet);
			}
		}
	}
	// .popup-login__body
	&__body {
		position: relative;
		z-index: 2;
		width: 100%;
		max-width: toRem(480);
		background-color: var(--white);
		margin-inline: auto;
		@include adaptiveValue("border-radius", 40, 24,0,1400.98,480.98);
		@include adaptiveValue("padding", 54, 24,0,1400.98,480.98);
		display: grid;
		gap: toRem(32);
		.popup-account & {
			max-width: toRem(694);
		}
	}
	// .popup-login__head
	&__head {
	}
	// .popup-login__logo-sm
	&__logo-sm {
		border-radius: toRem(9);
		background-color: var(--gray-1);
		display: grid;
		place-items: center;
		justify-self: flex-start;
		padding: toRem(9.75) toRem(9.75) toRem(8.5);
		margin-bottom: toRem(16);
		width: max-content;
		img {
			height: auto;
			width: toRem(19.68);
		}
	}
	// .popup-login__title
	&__title {
		@extend %fonsSize40-20;
		line-height: 1.2;
	}
	// .popup-login__tel
	&__tel {
	}
	// .popup-login__tel-input
	&__tel-input {
		&:not(:last-child) {
			margin-bottom: toRem(16);
		}
	}
	// .popup-login__checked
	&__checked {
	}
	// .popup-login__sms
	&__sms {
	}
	// .popup-login__footer
	&__footer {
		display: grid;
		gap: toRem(16);
	}
	// .popup-login__btn
	&__btn {
	}
	// .popup-login__checkbox
	&__checkbox {
	}
	// .popup-login__brands
	&__brands {
	}
}
// Popup #popupAccount =====================
.popup-account {
	// .popup-account__body
	&__body {
	}
	// .popup-account__head
	&__head {
	}
	// .popup-account__subhead
	&__subhead {
		position: relative;
		@extend %flexCenterGap8;
		&._active {
			padding-left: toRem(32);
		}
		@media (min-width:$mobileSmall){
			 margin-bottom: toRem(16); 
		}
		@media (max-width:$mobileSmall){
			  margin-bottom: toRem(12);
		}
	}
	// .popup-account__prev
	&__prev {
		position: absolute;
		top: 50%;
		transform: translate(0,-48%);
		left: 0;
		display: none;
		._active & {
			display: block;
		}
		&::before {
			font-size: toRem(24);
			color: var(--fade-violet-2);
			transition: color .3s ease;
		}
		@media (any-hover: hover){
			&:hover{
				&::before {
					color: var(--dark-violet);
				}
			}
		}
	}
	// .popup-account__txt
	&__txt {
		@extend %fonsSize11-12;
		color: var(--fade-violet-2);
	}
	// .popup-account__title
	&__title {
		@extend %fonsSize40-20;
		&:not(:last-child) {
			margin-bottom: toRem(16);
		}
	}
	// .popup-account__subtitle
	&__subtitle {
		@extend %fonsSize13-14;
		color: var(--fade-violet-2);
		line-height: 1.46;
	}
	// .popup-account__steps
	&__steps {
		position: relative;
	}
	// .popup-account__step
	&__step {
		visibility: hidden;
		position: absolute;
		opacity: 0;
		height: 0;
		overflow: hidden;
		&._step-active {
			visibility: visible;
			position: static;
			opacity: 1;
			height: auto;
		}
	}
	// .popup-account__items
	&__items {
		display: grid;
		gap: toRem(24) toRem(16);
		margin-bottom: toRem(32);
		@media (min-width:$mobileSmall){
			gap: toRem(24) toRem(16);
			grid-template-columns: 1fr 1fr;
		}
		@media (max-width:$mobileSmall){
			 gap: toRem(16); 
		}
		.input__label {
			span {
				color: var(--fade-violet-1);
			}
		}
	}
	// .popup-account__btn-next
	&__btn-next {
	}
	// .popup-account__btn-submit
	&__btn-submit {
	}
}

.gender-option {
	display: flex;
	flex-wrap: wrap;
	gap: toRem(4);

	// .gender-option__item
	&__item {
		flex: 1;
	}
	// .gender-option__input
	&__input {
		display: none;
    &:checked {
      + .gender-option__label {
       	background-color: var(--dark-violet);
				color: var(--white) !important;
      }
    }
	}
	// .gender-option__label
	&__label {
		cursor: pointer;
		@extend %fonsSize13-14;
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--fade-violet-1);
		padding-inline: toRem(12);
		@media (any-hover: hover){
			&:hover{
				color: var(--fade-violet-2);
			}
		}
	}
}

.brands-login {
	position: fixed;
	inset: 0;
	z-index: 1;
	pointer-events: none;
	// .brands-login__img
	&__img {
		position: absolute;
		z-index: 0;
		height: auto;
		border-radius: toRem(12);
		@media (min-width:toEm(700.98)){
			 width: toRem(118); 
		}
		@media (max-width:toEm(700.98)){
			 width: toRem(78); 
		}
		&.img-1 {
			transform: rotate(118deg);
			@media (min-width:toEm(700.98)){
				top: 27%;
				left: 7%;
			}
			@media (max-width: toEm(700.98)){
				bottom: 4%;
				left: toRem(16);
			}
		}
		&.img-2 {
			transform: rotate(34deg);
			@media (min-width:toEm(700.98)){
				top: 49%;
				left: 12%;
			}
			@media (max-width: toEm(700.98)){
				bottom: 4%;
				left: 20%;
			}
		}
		&.img-3 {
			@media (min-width:toEm(700.98)){
				bottom: 12%;
				left: 7%;
				transform: rotate(5deg);
			}
			@media (max-width: toEm(700.98)){
				bottom: 4%;
				left: 50%;
				transform: translate(-50%,0) rotate(-30deg);
			}
		}
		&.img-4 {
			transform: rotate(8deg);
			@media (min-width:toEm(700.98)){
				top: 24%;
				right: 11%;
			}
			@media (max-width: toEm(700.98)){
				bottom: 4%;
				right: 21%;
			}
		}
		&.img-5 {
			@media (min-width:toEm(700.98)){
				top: 57%;
				right: 9%;
				transform: rotate(-9deg);
			}
			@media (max-width: toEm(700.98)){
				display: none;					
			}
		}
		&.img-6 {
			@media (min-width:toEm(700.98)){
				bottom: 8%;
				right: 6%;
				transform: rotate(15deg);
			}
			@media (max-width: toEm(700.98)){
				bottom: 4%;
				right: toRem(16);
				transform: rotate(118deg);
			}
		}
	}
}


#popupHistoryBalance.popup,
#popupNoneHistoryBalance.popup {
	@media (min-width:$mobileSmall){
		overflow-x: hidden;
		overflow-y: auto; 
	}
	.popup__content {
		display: flex;
		flex-direction: column;
		@media (min-width:$mobileSmall){
			max-width: toRem(850);
			min-height: toRem(563);
		}
		@media (max-width:$mobileSmall){
			padding: toRem(32) toRem(16) toRem(16) toRem(16);
		}
	}
}
#popupNoneHistoryBalance.popup {
	.popup__content {
		@media (min-width:toEm(700.98)){
			 min-height: toRem(290); 
		}	
		@media (max-width: toEm(700.98)) and (min-width:$mobileSmall) {
			min-height: toRem(400);
		}
	}
	.no-card-history {
		display: block !important;
	}
	.no-card-history__txt {
		max-width: toRem(370);
	}
}

%gridItems {
	display: grid;
	grid-template-columns: 18% 18% 20% 1fr 13%;
	gap: toRem(8);
	align-items: center;
	@media (max-width: toEm(700.98)){
		grid-template-columns: 22% 1fr 1fr 22%;
	}
}

.popup-history {
	display: flex;
	flex-direction: column;
	flex: 1;
	// .popup-history__header
	&__header {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: toRem(21) toRem(32);
		@media (min-width:$mobileSmall){
			 margin-bottom: toRem(32); 
		}
		@media (max-width:$mobileSmall){
			 margin-bottom: toRem(16); 
		}
	}
	// .popup-history__title
	&__title {
		@include adaptiveValue("font-size", 23, 14,0,1400.98,480.98);
	}
	// .popup-history__search
	&__search {
		position: relative;
		min-width: toRem(310);
		@media (max-width:$mobileSmall){
			 width: 100%; 
		}
		&::before {
			position: absolute;
			top: 50%;
			right: toRem(16);
			transform: translate(0,-50%);
			pointer-events: none;
			z-index: 1;
			font-size: toRem(24);
		}
	}
	// .popup-history__input
	&__input {
		._error & {
			color: var(--red-2);
		}
	}
	// .popup-history__content
	&__content {
		flex: 1;
		display: flex;
		flex-direction: column;
		@media (min-width:$mobileSmall){
			  margin-bottom: toRem(32);
		}
	}
	// .popup-history__wrapper
	&__wrapper {
		// display: none !important;
	}
	// .popup-history__filter
	&__filter {
		@media (min-width:toEm(700.98)){
			  display: none;
		}
		@media (max-width: toEm(700.98)){
			  margin-bottom: toRem(16);
				display: flex;
				align-items: center;
				gap: toRem(4);
		}
	}
	// .popup-history__filter-btn
	&__filter-btn {
		@media (max-width: toEm(700.98)){
			  padding-inline: toRem(12);
				font-size: toRem(13);
				min-height: toRem(40);
				border-radius: toRem(30);
				color: var(--fade-violet-2);
				background-color: var(--gray-1);
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				&._all {
					min-width: toRem(44);
				}
				&._activation {
					color: var(--green);
					min-width: toRem(88);
				}
				&._write-off {

				}
				&._expired {
					color: var(--red-2);
				}
				&.active {
					color: var(--white);
					background-color: var(--dark-violet);
				}
		}
	}
	// .popup-history__body
	&__body {
	}
	// .popup-history__head
	&__head {
		margin-bottom: toRem(16);
		@extend %gridItems;
	}
	// .popup-history__head-cell
	&__head-cell {
		@extend %flexCenterGap8;
		gap: toRem(4) !important;
		@extend %fonsSize11-10;
		color: var(--fade-violet-2);
		&::before {
			order: 2;
			font-weight: 600;
		}
		&.head-cell-status {
			@media (max-width: toEm(700.98)){
				display: none !important;
			}
		}
	}
	// .popup-history__list
	&__list {
		@media (max-width:$mobileSmall){
			 height: 50svh;
			 overflow-y: auto; 
			 margin-inline: toRem(-16);
			 padding-inline: toRem(16);
			 mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 5%, #fff 95%, rgba(255, 255, 255, 0) 100%);
			 -webkit-mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 5%, #fff 95%, rgba(255, 255, 255, 0) 100%);
		}
	}
	// .popup-history__item
	&__item {
		@extend %gridItems;
		padding-block: toRem(14);
		@extend %fonsSize15-14;
		line-height: 1.46;
		&:not(:last-child) {
			border-bottom: toRem(1.5) solid var(--gray-1);
		}
		&._activation {}
		&._write-off {}
		&._expired {}
	}
	
	// .popup-history__cell
	&__cell {
		&.cell-code {
		}
		&.cell-denomination {
			._activation & {
				color: var(--green);
			}
			._write-off & {
				color: var(--fade-violet-2);
			}
			._expired & {
				color: var(--red-2);
			}
		}
		&.cell-activation {
		}
		&.cell-status {
			@extend %flexCenterGap8;
			@extend %fonsSize13-14;
			&:after {
				display: block;
				order: -1;
			
				._activation & {
					background-color: var(--green);
				}
				._write-off & {
					background-color: var(--fade-violet-2);
				}
				._expired & {
					background-color: var(--red-2);
				}
			}
			._activation & {
				color: var(--green);
			}
			._write-off & {
				color: var(--fade-violet-2);
			}
			._expired & {
				color: var(--red-2);
			}
			@media (max-width: toEm(700.98)){
				display: none !important;
			}
		}
		&.cell-date {
		}
	}
	// .popup-history__no-card
	&__no-card {
	}
	// .popup-history__pagging
	&__pagging {
		&.pagging {
			justify-content: flex-start !important;
			gap: toRem(4);
			.pagging__arrow {
				width: toRem(24);
				height: toRem(24);
				&::before {
					font-size: toRem(16);
				}
			}
			.pagging__list {
				gap: toRem(4);
			}
			.pagging__item {
				font-weight: 600;
				font-size: toRem(11);
				width: toRem(24);
				height: toRem(24);
			}
		}
		@media (max-width:$mobileSmall){
			 display: none !important; 
		}
	}
}



.no-card-history {
	display: none;
	position: relative;
	// display: block !important;
	flex: 1;
	@media (min-width:$mobileSmall){
	}
	@media (max-width:$mobileSmall){
		 min-height: 50svh; 
	}
	// .no-card-history__txt
	&__txt {
		@extend %fonsSize13-14;
		line-height: 1.46;
	}
	// .no-card-history__img
	&__img {
		position: absolute;
		right: 0;
		z-index: 1;
		@media (min-width:$mobileSmall){
			bottom: 3%;
		}
		@media (max-width:$mobileSmall){
			bottom: 10%;			  
		}
		img {
			height: auto;
			box-shadow: 0 2px 26px 0 rgba(33, 5, 41, 0.12);
			@media (min-width:$mobileSmall){
				border-radius: toRem(16);
				width: toRem(156);
			}
			@media (max-width:$mobileSmall){
				border-radius: toRem(10);
				width: toRem(102);
			}
			&:nth-child(1) {
				transform: rotate(-10.5deg) translate(-29%, 25%);
			}
			&:nth-child(2) {
				position: absolute;
				z-index: -1;
				right: 0;
				bottom: 0;
			}
		}
	}
}
