.about__page {
  background-color: var(--gray-3);
}

.about {
  padding: toRem(64) 0 toRem(80);
  
  @media (max-width: $tablet) {
    padding: toRem(48) 0 toRem(64);
  }
  
  @media (max-width: $mobile) {
    padding: toRem(40) 0 toRem(56);
  }
  
  @media (max-width: $mobileSmall) {
    padding: toRem(32) 0 toRem(48);
  }
  
  &__container {
    max-width: toRem(1200);
    margin: 0 auto;
    padding: 0 toRem(16);
  }

  
  &__image {
    position: relative;
    overflow: hidden;
    border-radius: toRem(40);
    box-shadow: var(--card-shadow);
    margin-bottom: toRem(56);
    min-height: toRem(235);
    @media (max-width: $mobile) {
      border-radius: toRem(24);
    }
    
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      display: block;
      @media (max-width: $mobile) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  
  &__stats {
    
    &-title {
      font-size: toRem(13);
      font-weight: 500;
      margin-bottom: toRem(33);
      color: var(--fade-violet-2);
      
      @media (max-width: $mobile) {
        font-size: toRem(18);
        margin-bottom: toRem(24);
      }
    }
    
    &-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: toRem(8);
      counter-reset: stats-counter;
      
      @media (max-width: $tablet) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    
    &-item {
      position: relative;
      display: flex;
      align-items: flex-end;
      gap: toRem(16);
      background-color: var(--white);
      border-radius: toRem(16);
      padding: toRem(24);
      box-shadow: var(--item-shadow);
      counter-increment: stats-counter;
      justify-content: space-between;
      @media (max-width: $mobileSmall) {
        flex-direction: column;
        align-items: flex-start;
        gap: toRem(8);
      }
      
      &::before {
        content: counter(stats-counter, decimal-leading-zero);
        position: absolute;
        top: toRem(24);
        left: toRem(24);
        font-size: toRem(11);
        font-weight: 500;
        color: var(--fade-violet-1);
        line-height: 1;
        letter-spacing: toRem(0.5);
        
        @media (max-width: $mobile) {
          top: toRem(10);
          right: toRem(10);
          font-size: toRem(12);
        }
      }

      br{
        @media (max-width: $mobileSmall) {
          display: none;
        }
      }
    }
    
    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: toRem(40);
      height: toRem(40);
      border-radius: 50%;
      background-color: var(--gray-3);
      flex-shrink: 0;
      
      span {
        font-size: toRem(20);
        color: var(--dark-violet);
      }
    }
    
    &-text {
      font-size: toRem(18);
      line-height: 1.4;
      color: var(--gray-text-2);
      margin-top: toRem(16);
      font-weight: 500;
      
      @media (max-width: $mobileSmall) {
        font-size: toRem(14);
        margin-top: toRem(8);
      }
    }
  }
}

.about-cta {
  padding: toRem(40) 0 toRem(80);
  
  @media (max-width: $tablet) {
    padding: toRem(32) 0 toRem(64);
  }
  
  @media (max-width: $mobile) {
    padding: toRem(28) 0 toRem(56);
  }

}

.about-partners {
  background: var(--white);
  border-top-left-radius: toRem(40);
  border-top-right-radius: toRem(40);
  padding: toRem(120) 0 toRem(80);
  @media (max-width: $tablet) {
    padding: toRem(80) 0;
  }
  @media (max-width: $mobile) {
    padding: toRem(56) 0 toRem(28);
  }
}

.about-cta{
  background: var(--white);
  padding-bottom: toRem(80);
}
