.account {
  @include adaptiveValue("padding-top", 56, 16,0,1400.98,480.98);
  padding-bottom: toRem(56);
  // .account__container-c
  &__container-c {
    position: relative;
  }
  // .account__tabs
  &__tabs {
  }
}

.msg-succsess {
  position: fixed;
  z-index: 8;
  transform: translate(-50%,0);
  background-color: var(--white);
  box-shadow: 0 4px 50px 0 rgba(33, 5, 41, 0.12);
  border-radius: toRem(20);
  padding: toRem(16);
  @extend %fonsSize15-14;
  line-height: 1.2;
  opacity: 0;
  visibility: hidden;
  transition: opacity .65s ease, visibility .65s ease;
  pointer-events: none;
  &._show-msg {
    opacity: 1;
    visibility: visible;
    transition: opacity .3s ease, visibility .3s ease;
  }
  @media (min-width: toEm(900.98)){
    top: toRem(140);
  }
  @media (max-width: toEm(900.9)) and (min-width: toEm(700.98)) {
    top: toRem(190);
  }
  @media (min-width:toEm(700.98)){
    left: 58%;
  }
  @media (max-width: toEm(700.98)){
    top: toRem(140);
    left: 50%;
    width: 100%;
    max-width: 77%;
  }
  @media (max-width:$mobileSmall){
     top: toRem(156); 
  }
  p {
    @extend %flexCenterGap8;
    &::before {
      font-size: toRem(24);
      color: var(--green);
    }
  }
}

%tabBts {
  @media (min-width:$mobileSmall){
    width: 100%;
    padding-inline: toRem(16);
    border-radius: toRem(24);
    font-size: toRem(13);
    min-height: toRem(40);
    transition: background-color .2s ease;
    @media (any-hover: hover){
      &:hover{
        background-color: var(--gray-2);
      }
    }
    &::before {
      font-size: toRem(24);
    }
  }
}

.tabs-account {
  display: grid;
  @media (min-width:toEm(820.98)){
    gap: toRem(56);
  }
  @media (max-width: toEm(820.98)) {
    gap: toRem(20);
  }
  @media (min-width:toEm(700.98)){
    grid-template-columns: toRem(190) 1fr;
  }
  @media (max-width: toEm(700.98)) and (min-width:$mobileSmall) {
    gap: toRem(32);
  }
  // .tabs-account__aside
  &__aside {
    @media (min-width:toEm(700.98)){
      position: sticky;
      top: toRem(120);
    }
    @media (min-width:$mobileSmall){
      max-height: toRem(637);
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    @media (max-width:$mobileSmall){
      display: none;
    }
  }
  // .tabs-account__top
  &__top {
    @media (min-width:toEm(700.98)){
      // position: sticky;
      // top: toRem(120);
      margin-bottom: toRem(100);
    }
    @media (max-width:toEm(700.98)) and (min-width:$mobileSmall){
      margin-bottom: toRem(32);
    }
  }
  // .tabs-account__head
  &__head {
    @media (min-width:$mobileSmall){  
      color: var(--fade-violet-2);
      font-size: toRem(13);
      line-height: 1.46;
      padding-left: toRem(16);
      margin-bottom: toRem(16);
      p {
        &:not(:last-child) {
          margin-bottom: toRem(2);
        }
      }
    }
  }
  // .tabs-account__navigation
  &__navigation {
    @media (max-width: toEm(700.98)) and (min-width:$mobileSmall) {
      display: grid;
      gap: toRem(4);
      grid-template-columns: repeat(auto-fit,minmax(160px, 1fr)); 
    }
  }
  // .tabs-account__btn
  &__btn {
    @extend %flexCenterGap8;
    @extend %tabBts;
    @media (max-width: toEm(700.98)){
      justify-content: center;
      background-color: var(--gray-2);
      padding-inline: toRem(5);
    }
    &._tab-active {
      @media (min-width:$mobileSmall){
        background-color: var(--white);
      }
    }
    &:not(:last-child) {
      @media (min-width:toEm(700.98)){
        margin-bottom: toRem(12);
      }
    }
  }
  // .tabs-account__exit
  &__exit {
  }
  // .tabs-account__exit-btn
  &__exit-btn {
    @extend %flexCenterGap8;
    @extend %tabBts;
  }
  // .tabs-account__content
  &__content {
  }
  // .tabs-account__body
  &__body {
    @media (min-width:toEm(700.98)){
      height: 100%;
    }
  }
}

%dataAccountGrid {
  display: grid;
  @media (min-width:toEm(820.98)){
    gap: toRem(16);
    grid-template-columns: 1fr 1fr;
    max-width: toRem(722);
  }
  @media (max-width: toEm(820.98)){
      gap: toRem(18);
  }
}

.title-btn {
  @include adaptiveValue("font-size", 28, 14,0,1400.98,480.98);
  @media (min-width:$mobileSmall){
     cursor: auto; 
  }
  @media (max-width:$mobileSmall){
     display: flex;
     align-items: center;
     gap: toRem(16); 
     margin-bottom: toRem(16);
  }
  &::before {
    @media (min-width:$mobileSmall){
       display: none; 
    }
    @media (max-width:$mobileSmall){
      width: toRem(32);
      aspect-ratio: 1;
      border-radius: 50%;
      background-color: var(--white);
      font-size: toRem(20);
      display: grid;
      place-items: center;
      transform: rotate(90deg);
      padding-top: toRem(2);
    }
  }
}

//-- DATA - ACCOUNT --------------------
.data-account {
  @extend %padding32-24;
  @include adaptiveValue("border-radius", 40,24,2,1400.98,480.98);
  @media (min-width:$mobileSmall){
    background-color: var(--white);
  }
  @media (max-width:$mobileSmall){
    padding: 0 !important;
  }
	// .data-account__header
	&__header {
    @extend %dataAccountGrid;
    @media (min-width:$mobileSmall){
       margin-bottom: toRem(32); 
    }
    @media (max-width:$mobileSmall){
        margin-bottom: toRem(24); 
    }
	}
  // .data-account__header-wr
  &__header-wr {
  }
	// .data-account__title
	&__title {
    @media (min-width:$mobileSmall){
       font-size: toRem(23) !important; 
       margin-bottom: toRem(8);
    }
	}
	// .data-account__subtitle
	&__subtitle {
    @extend %fonsSize13-14;
    line-height: 1.46;
    color: var(--fade-violet-2);
	}
	// .data-account__body
	&__body {
    @media (max-width: $mobileSmall){
      border-radius: toRem(24);
      background-color: var(--white);
      margin-inline: toRem(-8);
      padding: toRem(24);
    }
	}
	// .data-account__block
	&__block {
    &:not(:last-child) {
      border-bottom: toRem(1.5) solid var(--gray-1);
      @media (min-width:$mobileSmall){
        margin-bottom: toRem(32);
        padding-bottom: toRem(32);
      }
      @media (max-width:$mobileSmall){
        margin-bottom: toRem(24);
        padding-bottom: toRem(24);
      }
    }
    &:nth-last-child(2) {
      @media (max-width:$mobileSmall){
        border-bottom: unset;
        padding-bottom: 0;
      }
    }
	}
  // .data-account__step
  &__step {
    @extend %dataAccountGrid;
    margin-bottom: toRem(24);
  }
	// .data-account__step-wr
	&__step-wr {
	}
	// .data-account__items
	&__items {
    @extend %dataAccountGrid;
	}
  // .data-account__step-title
  &__step-title {
    &:not(:last-child) {
      margin-bottom: toRem(16);
    }
  }
	// .data-account__step-txt
	&__step-txt {
    @extend %fonsSize13-14;
    line-height: 1.46;
    color: var(--fade-violet-2);
  }
  // .data-account__footer
  &__footer {
    @extend %dataAccountGrid;
    @media (max-width:$mobileSmall){
      position: sticky;
      position: -webkit-sticky;
      bottom: 0;
      z-index: 3;
      transform: translate3d(0,0,0);
      background-color: var(--white);
      transition: all .3s;
      &._fixed {
        padding-block: toRem(16);
        padding-inline: toRem(16);
        margin-inline: toRem(-32);
        background-color: var(--white);
        box-shadow: 0 -4px 40px 0 rgba(33, 5, 41, 0.12);
      }
    }
  }
  // .data-account__change-btn
  &__change-btn {
    // transform: translate3d(0,0,0);
    // &._fixed {
    //   position: fixed;
    //   bottom: 0;
    //   z-index: 3;
    //   background-color: red;
    //   box-shadow: 0 -4px 40px 0 rgba(33, 5, 41, 0.12);
    // }
  }
}

// -- BALANCE - ACCOUNT ----------------
.balance-account {
	// .balance-account__title
	&__title {
    @media (min-width:$mobileSmall){
       display: none; 
    }
	}
  // .balance-account__balance-card
  &__balance-card {
    @extend %padding32-24;

  }
  // .balance-account__activation
  &__activation {
  }
  // .balance-account__spollers
  &__spollers {
  }
}

.current-balance {
  color: var(--white);
  @extend %padding32-24;
  display: grid;
  @media (min-width:$tablet){
    border-radius: toRem(24);
    background-color: var(--dark-violet);
    grid-template-columns: auto auto;
    gap: toRem(20);
    margin-bottom: toRem(8);
  }
  @media (max-width:$tablet){
    padding: 0;
    gap: toRem(2);
    margin-bottom: toRem(16);
  }
  // .current-balance__item
  &__item {
    @media (max-width:$tablet){
      border-radius: toRem(24);
      background-color: var(--dark-violet);
      padding: toRem(24);
    }
  }
  // .current-balance__title
  &__title {
    @extend %fonsSize15-14;
    margin-bottom: toRem(8);
  }
  // .current-balance__subtitle
  &__subtitle {
    @extend %fonsSize13-14;
    max-width: toRem(280);
    color: var(--fade-violet-1);
    line-height: 1.5;
    @media (min-width:$mobileSmall){
       margin-bottom: toRem(22); 
    }
    @media (max-width:$mobileSmall){
        margin-bottom: toRem(24);
    }
  }
  // .current-balance__bottom
  &__bottom {
    @extend %flexCenterGap8;
    gap: toRem(16);
  }
  // .current-balance__img
  &__img {
    width: toRem(60);
    height: auto;
    box-shadow: 0 3px 25px 0 rgba(33, 5, 41, 0.06);
  }
  // .current-balance__balance
  &__balance {
    @include adaptiveValue("font-size", 40, 28,0,1400.98,480.98);
  }
	// .current-balance__head
	&__head {
    @extend %flexCenterGap8;
    justify-content: space-between;
    flex-wrap: wrap;
    @extend %fonsSize15-14;
    margin-bottom: toRem(8);
	}
	// .current-balance__head-txt
	&__head-txt {
  }
	// .current-balance__btn
	&__btn {
    @extend %flexCenterGap8;
    transition: color .2s ease;
    &::before {
      font-size: toRem(24);
    }
    @media (any-hover: hover){
      &:hover{
        color: var(--fade-violet-1);
      }
    }
	}
	// .current-balance__history
	&__history {
    display: flex;
    align-items: center;
    border-radius: toRem(39);
    background-color: var(--fade-violet-3);
    @include adaptiveValue("padding", 24, 16,0,1400.98,900.98);
    min-height: toRem(67);
    position: relative;
    z-index: 1;
    @media (min-width:$mobileSmall){
      margin-bottom: toRem(18); 
    }
    @media (max-width:$mobileSmall){
      margin-bottom: toRem(15);
    }
    &::after,
    &::before {
      content:'';
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: toRem(39);
    }
    &::after {
      z-index: -1;
      background-color: #371E3E;
      @media (min-width:$mobileSmall){
        top: toRem(18); 
      }
      @media (max-width:$mobileSmall){
        top: toRem(15);
      }
    }
    &::before {
      z-index: 0;
      background-color: var(--fade-violet-3);
    }
    * {
        z-index: 2;
      }
	}
	// .current-balance__list
	&__list {
    @extend %flexCenterGap8;
    flex-wrap: wrap;
    gap: toRem(12) toRem(8);
    justify-content: space-between;
    width: 100%;
	}
	// .current-balance__clm
	&__clm {
  }
	// .current-balance__top
	&__top {
    opacity: .6;
    font-size: toRem(11);
    margin-bottom: toRem(6);
	}
	// .current-balance__data
	&__data {
    @extend %fonsSize15-14;
  }
	// .current-balance__msg
	&__msg {
    @extend %fonsSize13-14;
    color: var(--fade-violet-1);
    line-height: 1.46;
	}
}

.activation-balance {
  position: relative;
  overflow: hidden;
  background-color: var(--white);
  @extend %borderRadius30-24;
  @extend %padding32-24;
  margin-bottom: toRem(8);
  // .activation-balance__top
  &__top {
    position: relative;
    z-index: 1;
    &:not(:last-child) {
      padding-bottom: toRem(24);
      margin-bottom: toRem(24);
      border-bottom: toRem(1.5) solid var(--gray-1);
    }
  }
  // .activation-balance__title
  &__title {
    @extend %fonsSize23-20;
    line-height: 1.35;
    br {
      @media (min-width:$mobileSmall){
         display: none; 
      }
    }
    @media (min-width:$mobileSmall){
       margin-bottom: toRem(32); 
    }
    @media (max-width:$mobileSmall){
       margin-bottom: toRem(23);
    }
  }
	// .activation-balance__block
	&__block {
    display: grid;
    gap: toRem(24) toRem(72);
    align-items: end;
    @media (min-width:toEm(900.98)){
      grid-template-columns: 1fr 1fr;
    }
	}
  // .activation-balance__form
  &__form {
  }
	// .activation-balance__items
	&__items {
    display: grid;
    gap: toRem(8);
    @media (min-width:$mobileSmall){
      grid-template-columns: 1fr auto;
    }
	}
  // .activation-balance__label
  &__label {
    @media (min-width:$mobileSmall){
      font-size: toRem(15); 
      margin-bottom: toRem(12);
    }
    @media (max-width:$mobileSmall){
      margin-bottom: toRem(8);
      font-size: toRem(12);
       letter-spacing: 0.02em;
       font-weight: 600; 
    }
  }
  // .activation-balance__form
  &__form {
    .input {
      letter-spacing: 0.25em;
      &::placeholder {
        letter-spacing: 0;
      }
    }
  }
  // .activation-balance__btn
  &__btn {
    @media (min-width:$mobileSmall){
      min-width: toRem(122);
      height: max-content;
    }
  }
  // .activation-balance__right
  &__right {
    @media (min-width:$mobileSmall){
      max-width: toRem(350);
    }
  }
  // .activation-balance__tippy
  &__tippy {
    @extend %fonsSize13-14;
    color: var(--fade-violet-2);
    @media (min-width:$mobileSmall){
        line-height: 1.5;
    }
    @media (max-width:$mobileSmall){
       line-height: 1.5; 
    }
    &:not(:last-child) {
      margin-bottom: toRem(16);
    }
  }
  // .activation-balance__body
  &__body {
    &.card-balance__body {}
    .card-balance__title {
      @extend %fonsSize13-14;
    }
    .card-balance__list {}
    .card-balance__item {
    }
    .card-balance__block {}
    .card-balance__sub-title {}
    .card-balance__row {}
    .card-balance__row-icon {}
    .card-balance__row-input {
      letter-spacing: 0.25em;
      &::placeholder {
        letter-spacing: 0;
      }
    }
    .card-balance__row-btn {}
  }
  // .activation-balance__img
  &__img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    box-shadow: 0 3px 30px 0 rgba(33, 5, 41, 0.06);
    border-radius: toRem(10);
    transform: rotate(-8.6deg) translate(25%,-3%);
    height: auto;
    @include adaptiveValue("width", 152, 104,0,1400.98,480.98);
  }
}


.spollers-balance {
  display: grid;
  gap: toRem(8);
  @media (min-width:$tablet){
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }
  // .spollers-balance__item
  &__item {
    border-radius: toRem(24);
    background-color: var(--white);
    @extend %padding32-24;
  }
  // .spollers-balance__title
  &__title {
    @extend %flexCenterGap8;
    justify-content: space-between;
    @extend %fonsSize23-20;
    cursor: pointer;
  }
  // .spollers-balance__arrow
  &__arrow {
    width: toRem(40);
    height: toRem(40);
    ._spoller-active & {
      transform: rotate(-180deg);
    }
  }
  // .spollers-balance__body
  &__body {
    @include adaptiveValue("padding-top", 32, 24,0,1232.98,992.98);
  }
  // .spollers-balance__list
  &__list {
    @extend %listCounter;
  }
  // .spollers-balance__li
  &__li {
    @extend %fonsSize15-14;
    line-height: 1.46;
    position: relative;
    z-index: 1;
    &::before {
      font-size: toRem(11);
      font-weight: 600;
      color: var(--white);
      width: toRem(24);
      aspect-ratio: 1;
      background-color: var(--dark-violet);
      display: grid;
      place-items: center;
      border-radius: 50%;
    }
    &:nth-child(1) {
      .spollers-balance__txt {
        max-width: 81%;
      }
    }
    @media (min-width:$mobileSmall){
       padding-left: toRem(40); 
    }
    @media (max-width:$mobileSmall){
        padding-left: toRem(36);
    }
  }
  // .spollers-balance__txt
  &__txt {

  }
  // .spollers-balance__link
  &__link {
    white-space: nowrap;
    max-width: max-content;
    margin-bottom: toRem(40);
    @media (min-width:$mobileSmall){
      margin-top: toRem(20);
      min-width: toRem(185); 
    }
    @media (max-width:$mobileSmall){
      margin-top: toRem(34);
      min-width: toRem(126); 
    }
    span {
      &:nth-child(1) {
        @media (max-width:$mobileSmall){
           display: none; 
        }
      }
      &:nth-child(2) {
        @media (min-width:$mobileSmall){
           display: none; 
        }
      }
    }
  }
  // .spollers-balance__img
  &__img {
    position: absolute;
    z-index: -1;
    top: 27%;
    right: 0;
  }
  // .spollers-balance__subtxt
  &__subtxt {
    margin-top: toRem(8);
    color: var(--fade-violet-2);
    @media (max-width:$mobileSmall){
       margin-left: toRem(-34); 
    }
  }
	// .spollers-balance__form
  &__form {
    &:not(:last-child) {
      @media (min-width:$mobileSmall){
        margin-bottom: toRem(32);
      }
      @media (max-width:$mobileSmall){
        margin-bottom: toRem(24);
      }
    }
  }
  // .spollers-balance__card
  &__card {
  }
}

.card-spollers {
  &:not(:last-child) {
    margin-bottom: toRem(40);
  }
  // .card-spollers__number
  &__number {
    @extend %flexCenterGap8;
    @extend %fonsSize13-14;
    line-height: 1.46;
    letter-spacing: 0.45em;
    margin-bottom: toRem(24);
    &:before {
      font-size: toRem(24);
      letter-spacing: 0;
    }
    ._error & {
      color: var(--red);
    }
  }
  // .card-spollers__list
  &__list {
    display: grid;
    grid-template-columns: minmax(toRem(112),auto) 1fr;
    ._edit & {
      @media (min-width:$mobileSmall){
        max-width: toRem(316);
      }
    }
    @media (min-width:$mobileSmall){
      gap: toRem(32) toRem(8);
    }
    @media (max-width:$mobileSmall){
      gap: toRem(24) toRem(8);        
    }
  }
  // .card-spollers__item
  &__item {
  }
  // .card-spollers__head
  &__head {
    @extend %fonsSize11-12;
    color: var(--fade-violet-1);
    margin-bottom: toRem(12);
  }
  // .card-spollers__content
  &__content {
    @extend %flexCenterGap8;
    @extend %fonsSize15-14;
    line-height: 1.46;
    &--status {
      ._available & {
        color: var(--electric-blue);
      }
      ._edit & {
        color: var(--dark-violet);
      }
      ._activated & {
        color: var(--green);
      }
      ._active & {
        color: var(--green);
      }
      ._expired & {
        color: var(--red-2);
      }
      ._used & {
        color: var(--red-2);
      }
      ._error & {
        color: var(--red-2);
      }
    }
  }
  // .card-spollers__icon
  &__icon {
    ._edit & {
      align-self: flex-start;
    }
  }
  // .card-spollers__pin
  &__pin {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: toRem(8);
    .input {
      min-height: toRem(40);
    }
  }
	// .card-spollers__link
	&__link {
    @extend %flexCenterGap8;
    @extend %fonsSize13-14;
    margin-top: toRem(12);
    color: var(--violet);
    transition: color .2s ease;
    @media (any-hover: hover){
      &:hover{
        color: var(--dark-violet);
      }
    }
    &::before {
      font-size: toRem(24);
    }
	}
  // .card-spollers__error
  &__error {
    @extend %flexCenterGap8;
    @extend %fonsSize13-14;
    gap: toRem(12);
    line-height: 1.46;
    @media (min-width:$mobileSmall){
       max-width: 70%; 
    }
    &:before {
      font-size: toRem(24);
      align-self: flex-start;
    }
    ul {
      padding-left: toRem(20);
      li {
        list-style: disc;
      }
    }
  }
}


._available {

}
._edit {

}
._activated {

}
._active {

}
._expired {

}
._used {

}
._error {

}

// -- ORDER - ACCOUNT ----------------
.order-account {
  // .order-account__body
  &__body {
  }
}

.certificate-account {
  // .certificate-account__body
  &__body {
  }
}


