// Common mixins
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin card-shadow($opacity: 0.1) {
  box-shadow: 0 toRem(4) toRem(16) rgba(0, 0, 0, $opacity);
}

@mixin circle-icon {
  width: toRem(40);
  height: toRem(40);
  border-radius: 50%;
  @include flex-center;
  
  @media (max-width: $mobile) {
    width: toRem(32);
    height: toRem(32);
  }
}

@mixin rounded-corners($top-radius, $mobile-radius: null) {
  border-top-left-radius: $top-radius;
  border-top-right-radius: $top-radius;
  
  @if $mobile-radius {
    @media (max-width: $mobile) {
      border-top-left-radius: $mobile-radius;
      border-top-right-radius: $mobile-radius;
    }
  }
}

@mixin flex-column-center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.benefit-system__page {

  background-color: var(--white);

  .partners-grid__note{
    @media (max-width: $mobile) {
      display: flex;
      margin-top: toRem(43);
    }
  }

  .cta__extra--extended {
    padding-top: 0;
    @media (max-width: $mobile) {
      padding-bottom: toRem(87);
    }
  }
}

.platform {
  position: relative;
  @include adaptiveValue("padding-top", 56,16,0,1440.98,480.98);
  padding-bottom: toRem(175);
  
  @media (max-width: $tablet) {
    padding-bottom: toRem(110);
  }
  
  &__image-wrapper {
    position: relative;
    margin-top: toRem(40);
    
    @media (max-width: $mobile) {
      margin-top: toRem(24);
    }
  }
  
  &__image {
    border-radius: toRem(40);
    overflow: hidden;
    
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      display: block;
    }
    
    @media (max-width: $mobile) {
      border-radius: toRem(24);
    }
  }
  
  &__features {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  &__feature-card {
    background-color: var(--white);
    border-radius: toRem(24);
    padding: toRem(24);
    max-width: toRem(250);
    width: 100%;
    @include card-shadow;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    
    @media (max-width: $tablet) {
      max-width: toRem(200);
      padding: toRem(16);
      border-radius: toRem(16);
    }
    @media (max-width: $mobile) {
      max-width: toRem(170);
    }
    @media (max-width: $mobileSmall) {
      max-width: toRem(167);
    }
    @media (max-width: toEm(380)) {
      max-width: toRem(150);
    }

    &:first-child {
      left: toRem(29);
      top: toRem(31);
    }
    
    &:nth-child(2) {
      left: toRem(215);
      bottom: toRem(-55);
      
      @media (max-width:$mobileSmall){
        bottom: toRem(-55);
      }
    }
    
    &:nth-child(3) {
      right: toRem(40);
      bottom: toRem(40);
    }
    
    @media (max-width: $mobile) {
      min-width: toRem(160);
      
      &:first-child {
        left: unset;
        top: toRem(8);
        right: toRem(8);
      }
      
      &:nth-child(2) {
        left: unset;
        bottom: toRem(-55);
        right: toRem(8);
      }
      
      &:nth-child(3) {
        right: unset;
        bottom: toRem(-30);
        left: toRem(8);
      }
    }
    
    @media (max-width: toRem(375)) {
      min-width: auto;
    }
    
    
    &--blue {
      background-color: var(--electric-blue);
      
      .platform__card-title {
        color: var(--white);
      }
      
      .platform__card-icon {
        color: var(--electric-blue);
      }
      .platform__card-number {
        color: var(--gray-1);
      }
    }
    
  }
  
  &__card {
    &-content {
      display: flex;
      gap: toRem(16);
      justify-content: space-between;
      align-items: center;
    }
    
    &-number {
      font-size: toRem(11);
      font-weight: 500;
      color: var(--fade-violet-1);
      margin-bottom: toRem(16);
      
      @media (max-width: $mobile) {
        font-size: toRem(9);
        margin-bottom: toRem(6);
      }
    }
    
    &-title {
      font-size: toRem(18);
      font-weight: 500;
      color: var(--dark-violet);
      line-height: 1.2;
      
      @media (max-width: $mobile) {
        font-size: toRem(12);
      }
      br{
        @media (max-width: $mobile) {
          display: none;
        }
      }
    }
    
    &-icon {
      @include circle-icon;
      background-color: var(--gray-1);
      font-size: toRem(20);
      color: var(--fade-violet-2);
      
      @media (max-width: $mobile) {
        font-size: toRem(18);
      }
    }
  }
}

.cta__extra--dark {
  background: var(--gray-1);
}

.rewards-catalog {
  @extend %paddingTbBt56-16;
  position: relative;
  
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  &__title {
    font-size: toRem(40);
    font-weight: 500;
    color: var(--dark-violet);
    margin-bottom: toRem(24);
    text-align: left;
    width: 100%;
    
    @media (max-width: $mobile) {
      font-size: toRem(23);
    }
  }
  
  &__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: toRem(8);
    width: 100%;
    margin-bottom: toRem(48);
    
    @media (max-width: $tablet) {
      grid-template-columns: repeat(3, 1fr);
    }
    
    @media (max-width: $mobile) {
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: toRem(24);
    }
  }
  
  &__item {
    background: var(--white);
    border-radius: toRem(32);
    padding: toRem(24) toRem(8) toRem(8);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @media (max-width: $mobile) {
      border-radius: toRem(24);
      padding: toRem(16) toRem(8) toRem(8);
    }
  }
  
  &__logo {
    border-radius: toRem(24);
    overflow: hidden;
    width: 100%;
    
    @media (max-width: $mobile) {
      border-radius: toRem(16);
    }
    
    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      width: 100%;
    }
  }
  
  &__name {
    font-size: toRem(15);
    font-weight: 500;
    color: var(--dark-violet);
    margin-bottom: toRem(24);
    text-align: left;
    padding-left: toRem(8);
    width: 100%;

    @media (max-width: $mobile) {
      font-size: toRem(12);
      margin-bottom: toRem(16);
    }
  }
  
  &__button {
    width: fit-content;
    font-size: toRem(13);
    padding: toRem(15) toRem(24);
    line-height: 1;
    min-height: auto;
    @media (max-width: $mobile) {
      font-size: toRem(14);
    }
  }
}

.help-support {
  position: relative;
  padding: toRem(80) 0 toRem(120);
  
  @media (max-width: $mobile) {
    padding: toRem(56) 0;
  }

  &__card {
    background-color: var(--white);
    border-radius: toRem(32);
    padding: toRem(48);
    @include card-shadow(0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    min-height: toRem(584);
    &:not(:last-child){
      margin-bottom: toRem(100);
    }
    
    @media (min-height: toRem(600)) {
      min-height: toRem(485);
    }
    
    @media (max-width: $mobile) {
      padding: toRem(24);
      min-height: auto;
      justify-content: flex-start;
    }
  
    &:nth-child(even) {
      background-color: var(--gray-1);
    }
    
    @for $i from 1 through 8 {
      &:nth-child(#{$i}) {
        top: 8% + (($i) * 3%);
        @media (max-width: $mobile) {
          top: 0% + (($i - 1) * 3%);
        }
      }
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    gap: toRem(16);
    
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }
  
  &__title {
    font-size: toRem(40);
    font-weight: 500;
    color: var(--dark-violet);
    margin-bottom: toRem(40);
    line-height: 1.2;
    
    @media (max-width: $mobile) {
      font-size: toRem(23);
      margin-bottom: toRem(24);
      order: 2;
    }
    
    span {
      color: var(--fade-violet-2);
      display: block;
      
      @media (max-width: $mobile) {
        order: 1;
      }
    }
    
    p {
      color: var(--fade-violet-3);
      font-size: toRem(15);
      
      @media (max-width: $mobile) {
        font-size: toRem(14);
        margin-top: toRem(16);
      }
    }
  }
  
  &__content {
    display: flex;
    flex-direction: column;
    gap: toRem(48);
  }

  &__body {
    display: grid;
    grid-template-columns: 1fr toRem(598);
    gap: toRem(48);
    
    @media (max-width: $tablet) {
      grid-template-columns: 1fr toRem(400);
    }
    
    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
      gap: toRem(20);
    }
  }
  
  &__features {
    &-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      gap: toRem(24);
      
      @media (max-width: $mobile) {
        gap: toRem(12);
      }
    }
    
    &-item {
      position: relative;
      font-size: toRem(15);
      color: var(--fade-violet-3);
      line-height: 1.2;
      padding-left: toRem(20);
      
      img {
        color: var(--electric-blue);
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      
      span {
        color: var(--fade-violet-2);
        display: block;
      }
      
      br {
        @media (max-width: $mobile) {
          display: none;
        }
      }
    }
  }
  
  &__image {
    flex: 1 1 auto;
    border-radius: toRem(16);
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    max-height: 100%;
    margin-top: auto;
    
    @media (max-width: $mobile) {
      border-radius: toRem(12);
      max-height: toRem(155);
    }
    
    img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}

.how-it-works {
  @extend %paddingBottom120-56;
  padding-top: toRem(120);
  background-color: var(--gray-1);
  border-top-left-radius: toRem(40);
  border-top-right-radius: toRem(40);
  z-index: 1;
  @media (max-width: $mobile) {
    padding-top: toRem(56);
    border-top-left-radius: toRem(32);
    border-top-right-radius: toRem(32);
  }
  
  &__title {
    font-size: toRem(40);
    font-weight: 500;
    color: var(--dark-violet);
    margin-bottom: toRem(24);
    
    @media (max-width: $mobile) {
      font-size: toRem(23);
    }
  }
  
  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: toRem(8);
    
    @media (max-width: toEm(1215)) {
      grid-template-columns: 40% 1fr;
    }
    
    @media (max-width: toEm(936)) {
      grid-template-columns: 1fr;
    }
  }
  
  &__card {
    &-wrapper {
      &--2 {
        display: grid;
        grid-template-columns: 1fr;
        gap: toRem(8);
      }
    }
    
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: toRem(32);
    padding: toRem(48);
    @include card-shadow;
    
    @media (max-width: toEm(1215)) {
      padding: toRem(24);
    }
    
    &-number {
      font-size: toRem(11);
      font-weight: 500;
      color: var(--white);
      margin-bottom: toRem(20);
      width: toRem(24);
      height: toRem(24);
      @include flex-center;
      background-color: var(--dark-violet);
      border-radius: 50%;
      
      @media (max-width: $mobile) {
        margin-bottom: toRem(16);
        width: toRem(16);
        height: toRem(16);
      }
    }
    
    &-title {
      font-size: toRem(23);
      font-weight: 500;
      color: var(--dark-violet);
      margin-bottom: toRem(24);
      line-height: 1.3;
      
      @media (max-width: $mobile) {
        font-size: toRem(18);
        margin-bottom: toRem(16);
      }
      
      span {
        color: var(--fade-violet-2);
      }
    }
    
    &-description {
      font-size: toRem(15);
      color: var(--fade-violet-3);
      line-height: 1.3;
      
      @media (max-width: $mobile) {
        font-size: toRem(14);
      }
    }
    
    &-image {
      border-radius: toRem(24);
      overflow: hidden;
      @include flex-center;
      border: 1px dashed var(--gray-6);
      padding: toRem(16);
      margin-bottom: toRem(24);
      height: toRem(170);
      text-align: center;
      
      @media (max-width: $mobile) {
        margin-bottom: toRem(16);
        height: toRem(114);
      }
      
      p {
        font-size: toRem(11);
        color: var(--dark-violet);
        @media (max-width: $mobile) {
          font-size: toRem(12);
        }
      }
      
      span {
        font-size: toRem(20);
        color: var(--fade-violet-2);
        @include circle-icon;
        background-color: var(--gray-1);
        margin: toRem(12) auto;
      }
    }
    
    &-palette {
      display: grid;
      grid-template-columns: 1fr toRem(176);
      gap: toRem(8);
      
      @media (max-width: toEm(1215)) {
        grid-template-columns: 1fr toRem(100);
      }
      
      @media (max-width: $mobile) {
        grid-template-columns: 1fr 1fr;
      }
      
      &-content {
        background: var(--gray-1);
        border-radius: toRem(24);
        padding: toRem(16);
        user-select: none;
        
        &-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: toRem(11);
          color: var(--dark-violet);
          margin-bottom: toRem(8);
          font-weight: 500;
          
          @media (max-width: $mobile) {
            flex-direction: column;
            align-items: flex-start;
            gap: toRem(4);
          }
          
          span {
            background: var(--white);
            border-radius: toRem(8);
            padding: toRem(6);
          }
        }
        
        &-wrapper {
          display: flex;
          justify-content: space-between;
          gap: toRem(9);
          
          .how-it-works__card-palette-content-colors {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: toRem(9);
            
            @media (max-width: toEm(1215)) {
              grid-template-columns: repeat(3, 1fr);
            }
            
            @media (max-width: toEm(936)) {
              grid-template-columns: repeat(5, 1fr);
            }
            
            @media (max-width: $mobile) {
              grid-template-columns: repeat(3, 1fr);
              gap: toRem(2);
            }
          }
          
          span {
            @include circle-icon;
            border-radius: toRem(12);
            border: 2px solid transparent;
            transition: all 0.3s ease;
            cursor: pointer;
            
            &:hover {
              border: 2px solid var(--electric-blue);
            }
            
            @media (max-width: $mobile) {
              width: toRem(28);
              height: toRem(28);
              border-radius: toRem(8);
            }
          }
        }
        
        &-choose {
          @include circle-icon;
          border-radius: toRem(12);
          cursor: pointer;
          border: 1px solid #E1DEE2;
          
          &:hover {
            border: 2px solid var(--electric-blue);
          }
          
          @media (max-width: $mobile) {
            width: toRem(28);
            height: toRem(28);
            border-radius: toRem(8);
            
            img {
              width: toRem(14);
              height: toRem(14);
            }
          }
        }
      }
      
      &-users {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        font-weight: 500;
        gap: toRem(6);
        
        span {
          @include circle-icon;
          background: var(--white);
          padding: toRem(6);
          color: var(--fade-violet-1);
          margin-bottom: toRem(12);
          font-size: toRem(20);
        }
        
        .how-it-works__card-users-number {
          font-size: toRem(15);
          color: var(--electric-blue);
        }
        
        .how-it-works__card-users-text {
          font-size: toRem(11);
          color: var(--dark-violet);
        }
      }
    }
  }
  
  &__card-users {
    background: var(--gray-1);
    border-radius: toRem(24);
    padding: toRem(16);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-weight: 500;
    gap: toRem(6);

    span {
      @include circle-icon;
      background: var(--white);
      padding: toRem(6);
      color: var(--fade-violet-1);
      margin-bottom: toRem(12);
      font-size: toRem(20);
    }
  }

  &__card-users-number {
    font-size: toRem(15);
    color: var(--electric-blue);
  }

  &__card-users-text {
    font-size: toRem(11);
    color: var(--dark-violet);
  }
  
  &__card-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: toRem(8);
    
    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
    }
  }
  
  .chart-block {
    display: grid;
    grid-template-columns: 1fr toRem(157);
    gap: toRem(8);
    
    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
    }
  }
  
  .how-it-works__card-chart {
    position: relative;
    height: fit-content;
    
    @media (max-width: $mobile) {
      width: fit-content;
      margin-left: auto;
      max-width: toRem(112);
      margin-top: toRem(16);
    }
    @media (max-width: $mobileSmall) {
      margin-top: toRem(-16);
    }
    
    p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      
      &.how-it-works__card-chart-title {
        top: 45%;
        font-size: toRem(11);
        color: var(--dark-violet);
        
        @media (max-width: $mobile) {
          font-size: toRem(10);
          top: 42%;
        }
      }
      
      &.how-it-works__card-chart-number {
        font-size: toRem(15);
        color: var(--electric-blue);
        top: 58%;
        @media (max-width: $mobile) {
          font-size: toRem(20);
          top: 61%;
        }
      }
    }
    
    img {
      @media (max-width: $mobile) {
        width: 100%;
      }
    }
  }
}

.one-click-start {
  padding-top: toRem(120);
  padding-bottom: toRem(250);
  background-color: var(--white);
  @include rounded-corners(toRem(40), toRem(32));
  position: relative;
  
  @media (max-width: toRem(1180)) {
    padding-bottom: 0;
  }
  
  @media (max-width: $mobile) {
    padding-top: toRem(56);
    padding-bottom: toRem(100);
  }
  
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: toRem(100);
    background-color: var(--white);
    position: absolute;
    bottom: toRem(-50);
    left: 0;
    z-index: 1;
  }
  
  &__content {
    display: grid;
    grid-template-columns: toRem(695) 1fr;
    gap: toRem(8);
    
    @media (max-width: toRem(1180)) {
      grid-template-columns: 1fr;
    }
  }
  
  &__text {
    &-title {
      font-size: toRem(40);
      font-weight: 500;
      color: var(--dark-violet);
      margin-bottom: toRem(30);
      line-height: 1.2;
      
      @media (max-width: $mobile) {
        font-size: toRem(23);
        margin-bottom: toRem(16);
      }
      
      span {
        color: var(--fade-violet-2);
        display: block;
      }
    }
    
    &-subtitle {
      font-size: toRem(15);
      color: var(--fade-violet-3);
      line-height: 1.4;
      margin-bottom: toRem(33);
      
      @media (max-width: $mobile) {
        font-size: toRem(14);
        margin-bottom: toRem(24);
      }
    }
  }

  &__balance-wrapper{
    margin-left: auto;
    @media (max-width: $mobile) {
      margin-right: toRem(15);
    }
  }
  
  &__visual {
    display: flex;
    flex-direction: column;
    gap: toRem(8);
    position: relative;
    top: toRem(205);
    
    @media (max-width: toRem(1180)) {
      top: toRem(-205);
    }
    
    @media (max-width: $mobile) {
      top: 0;
    }
    
    &-dropdown-group {
      display: grid;
      grid-template-columns: 1fr toRem(183);
      
      @media (max-width: $mobile) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    
    &-image {
      border-radius: toRem(40);
      overflow: hidden;
      
      @media (max-width: $mobile) {
        border-radius: toRem(24);

      }
      
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block;
      }
    }
    
    &-bottom {
      background-color: var(--gray-1);
      border-radius: toRem(32);
      padding: toRem(24);
      max-height: toRem(249);
      position: relative;
      
      @media (max-width: $mobile) {
        max-height: toRem(184);
        padding: toRem(16);
        border-radius: toRem(24);
      }
      
      p {
        font-size: toRem(11);
        font-weight: 500;
        color: var(--dark-violet);
      }
      
      ul {
        font-size: toRem(11);
        font-weight: 500;
        color: var(--fade-violet-2);
        position: absolute;
        top: 50%;
        right: toRem(100);
        transform: translateY(-50%);
        
        @media (max-width: $mobile) {
          right: toRem(30);
        }
        
        li {
          position: relative;
          
          &:not(:last-child) {
            margin-bottom: toRem(13);
          }
          
          &:before {
            content: '';
            display: block;
            width: toRem(11);
            height: toRem(11);
            background-color: #7D70F1;
            border-radius: 50%;
            position: absolute;
            left: toRem(-16);
            top: 50%;
            transform: translateY(-50%);
          }
          
          &:nth-child(2) {
            &:before {
              background-color: #FBBB40;
            }
          }
          
          &:nth-child(3) {
            &:before {
              background-color: #E8827F;
            }
          }
          
          &:nth-child(4) {
            &:before {
              background-color: #479BF8;
            }
          }
          
          &:nth-child(5) {
            &:before {
              background-color: #515D6F;
            }
          }
          
          &:nth-child(6) {
            &:before {
              background-color: #67D7C6;
            }
          }
        }
      }
      
      &-image {
        display: grid;
        grid-template-columns: 1fr toRem(100);
        gap: toRem(24);
        align-items: center;
        
        .brand-chart {
          max-width: toRem(217);
          width: 100%;
          margin-left: toRem(30);
          
          @media (max-width: $mobile) {
            max-width: toRem(157);
            transform: translateY(toRem(-26));
            position: relative;
            top: toRem(20);
          }

        }
      }
    }
    
    &-dropdown {
      background-color: var(--gray-1);
      padding: toRem(20) toRem(6) toRem(6);
      border-radius: toRem(24);
      max-width: toRem(195);
      width: 100%;
      
      @media (max-width: $mobile) {
        width: toRem(205);
      }
      
      &-item {
        display: flex;
        gap: toRem(7);
        align-items: center;
        transition: all 0.3s ease;
        
        &:not(:last-child) {
          margin-bottom: toRem(14);
        }
        
        &:not(.active) {
          padding: 0 toRem(9);

        }
        
        &.active {
          background-color: var(--electric-blue);
          color: var(--white);
          border-radius: toRem(20);
          padding: toRem(10);
          
          span {
            color: var(--white);
          }
          
          img {
            filter: invert(1);
          }
        }
      }
      
      span {
        font-size: toRem(11);
        color: var(--dark-violet);
        font-weight: 500;
        user-select: none;
        white-space: nowrap;
        
        @media (max-width: $mobile) {
          font-size: toRem(12);
        }
        
        &.icon-arrow-down {
          font-size: toRem(15);
          font-weight: 800;
          transform: rotate(180deg) translateY(1px);
        }
      }
      
      img {
        width: toRem(21);
        height: toRem(21);
      }
    }
  }

  &__balance {
    background-color: var(--electric-blue);
    color: var(--white);
    border-radius: toRem(24);
    padding: toRem(16) toRem(24);
    @include flex-column-center;
    max-width: toRem(145);
    text-align: center;
    width: 100%;
    
    @media (max-width: $mobile) {
      max-width: toRem(111);
      line-height: 1.2;
      margin-left: auto;
      transform: translateY(-50%);
      padding: toRem(8) toRem(23) toRem(15);
    }
    
    &-icon {
      width: toRem(40);
      height: toRem(40);
      margin-bottom: toRem(12);
      background-color: var(--white);
      border-radius: 50%;
      display: grid;
      place-items: center;
      
      @media (max-width: $mobile) {
        width: toRem(34);
        height: toRem(34);
      }
      
      img {
        width: toRem(34);
        height: toRem(34);
      }
    }
    
    &-number {
      font-size: toRem(15);
      font-weight: 500;
      margin-bottom: toRem(6);
      
      @media (max-width: $mobile) {
        font-size: toRem(14);
      }
    }
    
    &-text {
      font-size: toRem(11);
      font-weight: 500;
      
      @media (max-width: $mobile) {
        font-size: toRem(12);
      }
    }
  }
}