.post-page,
.author-page,
.blog-page  {
  .page {
    border-radius: toRem(24) toRem(24) 0 0;
    margin-bottom: toRem(-24);
    padding-bottom: toRem(24);

    @media (min-width:$mobileSmall) {
      margin-bottom: toRem(-40);
      padding-bottom: toRem(40);
      border-radius: toRem(40) toRem(40) 0 0;
    }
  }

  footer {
    margin-top: 0;
    z-index: 2;
  }
}

// == old styles
.blog {
  @extend %paddingTbBt56-16;
  position: relative;
  &::after{
    content: "";
    position: absolute;
    bottom: toRem(-45);
    left: 0;
    width: 100%;
    height: toRem(75);
    background-color: var(--gray-1);
    @media (max-width:$mobile){
      height: toRem(75);
    }
  }
  
  &__title {
    font-size: toRem(40);
    &:not(:last-child) {
      margin-bottom: toRem(32);
    }
    @media (max-width:$mobile){
      font-size: toRem(23);
    }
  }
  
  &__filters {
    @media (min-width:$mobileSmall){
      margin-bottom: toRem(32);
    }
    @media (max-width:$mobileSmall){
      margin-bottom: toRem(24);
    }
  }
  
  &__grid {
    display: grid;
    gap: toRem(8);
    grid-template-columns: repeat(2, 1fr);
    
    @media (min-width:$tablet){
      grid-template-columns: repeat(3, 1fr);
    }
    
    @media (min-width:$pc){
      grid-template-columns: repeat(4, 1fr);
    }
    
    margin-bottom: toRem(32);
    @media (min-width:$mobileSmall){
      margin-bottom: toRem(48);
    }
  }

}

.blog-filter {
  display: flex;
  flex-wrap: wrap;
  gap: toRem(4);
  
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: toRem(8);
    width: auto;
    min-width: toEm(40);
    padding: toRem(16) toRem(24);
    background-color: transparent;
    border-radius: toRem(20);
    font-size: toRem(15);
    font-weight: 500;
    color: var(--dark-violet);
    transition: all 0.3s ease;
    @media (max-width:$mobile){
      font-size: toRem(12);
      padding: toRem(12) toRem(20);
    }
    
    &__name {
      font-size: toRem(14);
      font-weight: 500;
      color: inherit;
      transition: background-color 0.3s ease;
    }
    
    @media (any-hover: hover){
      &:hover {
        background-color: var(--pagging-hover-bg);
      }
    }
    
    &.active {
      color: var(--white);
      background-color: var(--dark-violet);
      box-shadow: 0 toRem(4) toRem(16) 0 var(--pagging-shadow);

      .blog-filter__name {
        color: var(--white);
      }
    }
  }
}

.blog-inner__related-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: toRem(24);
    
    @media (max-width:$mobile){
        margin-bottom: toRem(16);
    }
}

.blog-inner__related-nav {
    display: flex;
    align-items: center;
}



// ============ NEW STYLES (2026 jan) ========================
.page-blog {
    padding-top: toRem(24);
    padding-bottom: toRem(56);
    @media (min-width: $tablet){
      padding-top: toRem(33);
      padding-bottom: toRem(80);
    }
    @media (max-width: $tablet) and (min-width: $mobileSmall){
      padding-bottom: toRem(48);
    }
    .breadcrumb {
      margin-bottom: toRem(16);
      @media (min-width:$tablet){
        margin-bottom: toRem(4);
      }
    }
		// .page-blog__container
		&__container {
		}

		// .page-blog__head
		&__head {
      display: grid;
      color: var(--dark-violet);
      gap: toRem(16);
      margin-bottom: toRem(24);
      @media (min-width:$tablet){
        padding-right: 28px;
        min-height: toRem(75);
        grid-template-columns: auto 59%;
        margin-bottom: toRem(34);
      }
      @media (max-width: $tablet) and (min-width: $mobileSmall) {
        padding-right: 11px;
      }
      @media (max-width: $tablet) and (min-width: toEm(700.98)) {
        grid-template-columns: 1fr 1fr;
        margin-bottom: toRem(16);
       }
		}

		// .page-blog__title
		&__title {
      font-weight: 500;
      font-size: toRem(23);
      line-height: 1.17;
      @media (min-width:$tablet){
        line-height: 1.125;
        font-size: toRem(40);
      }
      @media (max-width:$tablet) and (min-width: toEm(700.98)) {
        font-size: toRem(28);
      }
		}

		// .page-blog__subtitle
		&__subtitle {
      line-height: 1.5;
      font-size: 14px;
      @media (min-width:$tablet){
        font-size: 18px;
      }
		}

		// .page-blog__img
		&__img {
      img {
        border-radius: toRem(32);
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-height: toRem(235);
        @media (min-width:$tablet){
          max-height: toRem(273);
        }
      }
    }

    // .page-blog__body
    &__body {
      margin-top: toRem(34);
      &:not(:last-child) {
        padding-bottom: toRem(56);
        @media (min-width: $tablet){
          padding-bottom: toRem(80);
        }
        @media (max-width: $tablet) and (min-width: $mobileSmall){
          padding-bottom: toRem(48);
        }
      }
      @media (min-width:$tablet){
        margin-top: toRem(96);
      }
      @media (max-width:$tablet) and (min-width: toEm(700.98)) {
        margin-top: toRem(48);
      }
      .page-blog__title {
        margin-bottom: toRem(16);
        @media (max-width:$tablet) and (min-width: toEm(700.98)) {
          margin-top: toRem(18);
        }
      }
    }
    
    // .page-blog__filters
    &__filters {
      margin-bottom: toRem(16);
      @media (min-width:$tablet){
        margin-bottom: toRem(40);
      }
    }
    
    // .page-blog__content
    &__content {
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(toRem(300), 1fr));
      gap: toRem(11);
      margin-bottom: toRem(33);
      @media (min-width:$tablet){
        gap: toRem(8);
        margin-bottom: toRem(40);
      }
      @media (max-width:$tablet) and (min-height: toEm(700.98)) {
        gap: toRem(16);
        margin-bottom: toRem(25);
      }
    }
}

.filters-blog {
  display: flex;
  flex-wrap: wrap;
  gap: toRem(8) toRem(4);
		// .filters-blog__item
		&__item {
      display: flex;
      align-items: center;
      font-size: 15px;
      font-weight: 500;
      line-height: 1.2;
      white-space: nowrap;
      border-radius: toRem(40);
      background-color: var(--white);
      color: var(--dark-violet);

      transition: color .3s ease, background-color .3s ease, box-shadow .3s ease;
      padding: toRem(8) toRem(20);
      min-height: toRem(35); 
      @media (min-width:$tablet){
         min-height: toRem(43); 
      }
      @media (any-hover: hover) {
         &:not(.filters-blog__item--active):hover {
           box-shadow: 0 4px 18px 0 rgba(108, 0, 137, 0.05);
           color: var(--violet);
         }
      }     
      &--active {
        background-color: var(--dark-violet);
        color: var(--white);
      }
		}

		// .filters-blog__item--active
		&__item--active {
		}
}
