.card {
  @include adaptiveValue("padding-top", 24, 19,0,1400.98,480.98);
  @extend  %paddingBottom120-56;
  // .card__container
  &__container {
  }
  // .card__breadcrumbs
  &__breadcrumbs {
    .breadcrumbs {
      margin: 0;
      @media (max-width:$mobileSmall){
         font-size: toRem(13); 
      }
    }
    @media (min-width:$mobileSmall){
       margin-bottom: toRem(16); 
    }
    @media (max-width:$mobileSmall){
        margin-bottom: toRem(18);
    }
  }
  // .card__main
  &__main {
    display: grid;
    gap: toRem(8);
    @media (min-width:toEm(700.98)){
      grid-template-columns: 37.7% 1fr;
    }
  }
  // .card__aside
  &__aside {
    @media (min-width:$mobileSmall){
      background-color: var(--white);
      border-radius: toRem(32);
      align-self: flex-start;
    }
  }
  // .card__body
  &__body {
    @extend %padding32-16;
    background-color: var(--white);
    @media (min-width:$mobileSmall){
      border-radius: toRem(32);
    }
    @media (max-width:$mobileSmall){
      position: relative;
      margin-inline: toRem(-16); 
      border-radius: toRem(32) toRem(32) 0 0;
      padding-block-end: toRem(88);
      &::after {
        content:'';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: var(--gray-1);
        border-radius: toRem(32) toRem(32) 0 0;
        height: toRem(32);
      }
    }
    .card-soon & {
      padding-top: 0px !important;
      @media (min-width:$mobileSmall){
        gap: toRem(24);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
  // .card__soon-label
  &__soon-label {
  }
  // .card__header
  &__header {
    @media (min-width:$mobileSmall){
      margin-bottom: toRem(18);
    }
    @media (max-width:$mobileSmall){
      margin-bottom: toRem(24);
    }
  }
  // .card__title
  &__title {
    @extend %fonsSize40-20;
    @media (min-width:$mobileSmall){
       margin-bottom: toRem(8); 
      }
      @media (max-width:$mobileSmall){
      margin-bottom: toRem(4); 
       line-height: 1.35; 
    }
  }
  // .card__rating
  &__rating {
    &:not(:last-child) {
      @media (min-width:$mobileSmall){
        margin-bottom: toRem(18);
      }
      @media (max-width:$mobileSmall){
        margin-bottom: toRem(16);
      }
    }
  }
  // .card__price
  &__price {
  }
  // .card__price-txt
  &__price-txt {
    @extend %fonsSize28-20;
  }
  // .card__details
  &__details {
  }
	// .card__options
	&__options {
    display: grid;
    gap: toRem(16) toRem(8);
    border-bottom: toRem(1.5) solid var(--gray-2);
    padding-bottom: toRem(18);
    margin-bottom: toRem(18);
    &.grid-cl {
      grid-template-columns: 49% 49%;
    }
    &.grid-rw {
      @media (min-width:toEm(820.98)){
        grid-template-columns: 49% 49%;
      }
      @media (max-width:toEm(820.98)){
         grid-template-columns: 100%; 
      }
    }
	}
  // .card__items
  &__items {
    display: grid;
    gap: toRem(16) toRem(8);
    border-bottom: toRem(1.5) solid var(--gray-2);
    padding-bottom: toRem(18);
    margin-bottom: toRem(18);
    &.grid-cl {
      grid-template-columns: 49% 49%;
    }
    &.grid-rw {
      @media (min-width:toEm(820.98)){
        grid-template-columns: 49% 49%;
      }
      @media (max-width:toEm(820.98)){
         grid-template-columns: 100%; 
      }
    }
    &:nth-child(1) {
      .card-gift & {
        border: none;
        padding-bottom: 0;
      }
    }
  }
  // .card__info-label
  &__info-label {
    @extend %fonsSize13-14;
    @media (min-width:$mobileSmall){
      margin-bottom: toRem(11.5);
    }
    @media (max-width:$mobileSmall){
      margin-bottom: toRem(15);
    }
    .card__options & {
      flex: 1;
      margin: 0;
      min-height: toRem(24);
      display: flex;
      align-items: center;
    }
  }
  // .card__item
  &__item {
    height: 100%;
    display: flex;
    flex-direction: column;
    .amount {
      .amount__head {
        @extend %flexCenterGap8;
        flex-wrap: wrap;
        @media (min-width:$mobileSmall){
          margin-bottom: toRem(11.5);
        }
        @media (max-width:$mobileSmall){
          margin-bottom: toRem(15);
          justify-content: space-between;
        }
      }
      .card__info-label {
        margin-bottom: toRem(0);
      }
      .amount__minmax,
      .amount__min,
      .amount__max {
        font-weight: 500;
        @extend %fonsSize13-14;
        line-height: 1;
      }
      .amount__block {
        padding-left: 42%;
        @media (max-width:$mobileSmall){
          padding-left: 45%;
        }
      }
      .amount__msg {
        display: none;
        font-weight: 500;
        @extend %fonsSize13-14;
        line-height: 1.26;
        color: var(--red);
      }
      &._form-error-max {
        .amount__msg {
          display: block;
        }
      }
    }
  }
  // .card__select
  &__select {
  }
  // .card__quantity
  &__quantity {
    .quantity__input {
      @media (min-width:$mobileSmall){
         left: 0; 
      }
      @media (max-width:$tablet){
        .grid-cl & {
          left: 0;
        }
      }
    }
  }
  // .card__info
  &__info {
    @media (min-width:$mobileSmall){
      border-bottom: toRem(1.5) solid var(--gray-2);
      padding-bottom: toRem(20);
      margin-bottom: toRem(20);
    }
    .card-soon & {
      @media (min-width:$mobileSmall){
        border-top: toRem(1.5) solid var(--gray-2);
        padding-top: toRem(24);
      }
    }
  }
	// .card__info-card
	&__info-card {
    &:not(:last-child) {
      @media (min-width:$mobileSmall){
         margin-bottom: toRem(8); 
      }
      @media (max-width:$mobileSmall){
          margin-bottom: toRem(14);
      }
    }
	}
  // .card__option-gift
  &__option-gift {
  }
  // .card__rules
  &__rules {
  }
  // .card__footer
  &__footer {
    @media (max-width:$mobileSmall){
       position: fixed;
       z-index: 5;
       bottom: 0;
       left: 0;
       right: 0;
       width: 100%; 
       padding: toRem(16);
       background-color: var(--white);
       box-shadow: 0 -4px 40px 0 rgba(33, 5, 41, 0.15);
    }
  }
  // .card__checkbox
  &__checkbox {
    @media (min-width:$mobileSmall){
      margin-bottom: toRem(16);
      .checkbox__label {
        color: var(--dark-violet);
      }
      .underline {
        position: relative;
        &::after {
          content:'';
          position: absolute;
          bottom: 3px;
          left: 0;
          height: toRem(0.7);
          width: 100%;
          background-color: var(--dark-violet);
        }
      }
    }
    @media (max-width:$mobileSmall){
       display: none; 
    }
  }
  // .card__add-button
  &__add-button {
  }
}

.soon-label {
  align-self: center;
  position: relative;
  @extend %flexCenterGap8;
  @extend %fonsSize13-14;
  justify-content: center;
  background-color: var(--disabled-pink);
  border-radius: 0 0 toRem(30) toRem(30);
  width: 100%;
  margin-inline: auto;
  text-align: center;
  @media (min-width:$mobileSmall){
     min-height: toRem(48); 
     max-width: toRem(317);
  }
  @media (max-width:$mobileSmall){
      max-width: toRem(228);
      min-height: toRem(40); 
      margin-bottom: toRem(16);
  }
}


%linkCard {
  @extend %flexCenterGap8;
  @extend %fonsSize13-14;
  color: var(--violet);
    transition: color .3s ease;
    line-height: 1.46;
    &::before {
      transition: color .3s ease;
      transform: rotate(-45deg);
      font-size: toRem(24);
    }
}

.aside-card {
  @media (min-width: toEm(700.98)){
    position: sticky;
    top: toRem(75);
  }
	// .aside-card__body
	&__body {
   @extend %padding32-16;
    @media (max-width:$mobileSmall){
       padding-bottom: toRem(24) !important; 
    }
	}
  // .aside-card__gallery
  &__gallery {
    &:not(:last-child) {
      @media (min-width:$mobileSmall){
        margin-bottom: toRem(32);
      }
    }
    @media (max-width:$mobileSmall){
       max-width: 76%;
       margin-inline: auto; 
    }
  }
  // .aside-card__description
  &__description {
    @extend %fonsSize13-14;
    @media (min-width:$mobileSmall){
      line-height: 1.46;
      &:not(:last-child) {
        margin-bottom: toRem(32);
      }
    }
    @media (max-width:$mobileSmall){
      display: none;
    }
  }
  // .aside-card__link
  &__link {
    @extend %linkCard;
    @media (any-hover: hover){
      &:hover{
        color: var(--dark-violet);
        &::before {
          color: var(--dark-violet);
        }
      }
    }
    @media (max-width:$mobileSmall){
       display: none; 
    }
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  @media (min-width:$mobileSmall){
    gap: toRem(8);
  }
  @media (max-width:$mobileSmall){
    gap: toRem(20) toRem(5);      
  }
  // .gallery__item
  &__item {
    img {
      aspect-ratio: 124/84;
      @media (min-width:$mobileSmall){
        border-radius: toRem(16);
      }
      @media (max-width:$mobileSmall){
        border-radius: toRem(10);
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.12);
      }
    }
    &:first-child {
      grid-column: 1/4;
      grid-row: 1/2;
      img {
        border-radius: toRem(24);
        aspect-ratio: 388/255;
        @media (max-width:$mobileSmall){
           aspect-ratio: 249/150; 
           box-shadow: 0 4px 45px 0 rgba(33, 5, 41, 0.16);
        }
      }
    }
  }
}

.rating { 
  display: flex;
  flex-direction: row-reverse;
  gap: toRem(6);
  align-items: center;
  justify-content: flex-end;
  // .rating__title
  &__title {
    font-size: toRem(13);
    line-height: 1.46;
  }
}

.card-options {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  @media (min-width:$mobileSmall){
    gap: toRem(7);
   }
   @media (max-width:$mobileSmall){
    gap: toRem(11);
  }
  // .card-options_msg
  &_msg {
   flex-direction: column-reverse;
  }
  // .card-options__input
  &__input {
    display: none;
    &:checked {
      + .card-options__label {
        background-color: var(--dark-violet);
        color: var(--white);
        &::before {
          color: var(--white);
        }
      }
      ~ .card-options__message {
        display: flex;
      }
    }
  }
  // .card-options__label
  &__label {
    cursor: pointer;
    @extend %flexCenterGap8;
    @extend %fonsSize13-14;
    justify-content: center;
    border-radius: toRem(30);
    color: var(--fade-violet-2);
    transition: color .3s ease, background-color .3s ease;
    height: toRem(48);
    background-color: var(--gray-3);
    &::before {
      font-size: toRem(24);
    }
    @media (any-hover: hover){
      &:hover{
        background-color: var(--gray-2);
        color: var(--dark-violet);
        &::before {
          color: var(--dark-violet);
        }
      }
    }
  }
  // .card-options__message
  &__message {
    display: none;
    @extend %flexCenterGap8;
    font-size: toRem(13);
    font-weight: 600;
    flex: 1;
    &:before {
      font-size: toRem(24);
      align-self: flex-start;
    }
  }
}

.info-card {
  // .info-card__title
  &__title {
    @extend %fonsSize13-14;
    line-height: 1.5;
    @media (min-width:$mobileSmall){
       margin-bottom: toRem(6); 
    }
    @media (max-width:$mobileSmall){
      margin-bottom: toRem(16); 
    }
  }
	// .info-card__description
	&__description {
    @extend %fonsSize13-14;
    @media (min-width:$mobileSmall){
       display: none; 
    }
    @media (max-width:$mobileSmall){
        line-height: 1.5;
        margin-bottom: toRem(14);
    }
	}
	// .info-card__link
	&__link {
    @extend %linkCard;
    @media (min-width:$mobileSmall){
       display: none; 
    }
    @media (max-width:$mobileSmall){
       padding: toRem(12); 
       background-color: var(--gray-1);
       border-radius: toRem(16);
       margin-bottom: toRem(14);
    }
	}
  // .info-card__body
  &__body {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(toRem(130), 1fr));
    grid-auto-rows: 1fr;
    gap: toRem(8);
    &.info-card-grid-1 {
      .info-card__item {
        &:nth-child(1) {
          @media (min-width:toEm(1024.98)){
            grid-column: 1/3;
          }
        }
        &:nth-child(2) {
          @media (min-width:toEm(1024.98)){
            grid-column: 3/5;
          }
        }
      }
    }
    &.info-card-grid-2 {
      grid-template-columns: repeat(auto-fit,minmax(toRem(120), 1fr));
      // @media (min-width:$mobileSmall){
      // }
      // @media (max-width:$mobileSmall){
      //   grid-template-columns: repeat(auto-fit,minmax(toRem(110), 1fr));
      // }
    }
  }
  // .info-card__item
  &__item {
    border: toRem(1.5) solid var(--gray-1);
    border-radius: toRem(16);
    padding: toRem(12);
    gap: toRem(16) toRem(8);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .card-one & {
      flex-wrap: wrap;
      align-items: center;
      flex-direction: unset;
      justify-content: unset;
      padding: toRem(11) toRem(12);
    }
  }
  // .info-card__icon
  &__icon {
    // align-self: flex-start;
    &::before {
      font-size: toRem(24);
      color: var(--dark-violet);
    }
  }
  // .info-card__text
  &__text {
    @extend %fonsSize13-14;
    @media (min-width:$mobileSmall){
      line-height: 1.23;
    }
    @media (max-width:$mobileSmall){
        line-height: 1.4;
    }
  }
}

.rules-spollers {
  // .rules-spollers__details
  &__details {
    border-radius: toRem(24);
    background-color: var(--gray-1);
    @media (min-width:$mobileSmall){
      padding: toRem(8) toRem(8) toRem(8) toRem(24);
    }
    @media (max-width:$mobileSmall){
      padding: toRem(8) toRem(8)  toRem(8) toRem(16);
    }
  }
  // .rules-spollers__title
  &__title {
    @extend %flexCenterGap8;
    justify-content: space-between;
    @extend %fonsSize13-14;
    cursor: pointer;
    min-height: toRem(32);
    line-height: 1.5;
    @media (any-hover: hover){
      &:hover{
        .rules-spollers__arrow {
          background-color: var(--dark-violet);
          color: var(--white);
        }
      }
    }
  }
  // .rules-spollers__arrow
  &__arrow {
    line-height: 1;
    width: toRem(32);
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: var(--white);
    transform-origin: 50% 50%;
    transition: transform .3s ease, background-color .3s ease, color .3s ease;
    ._spoller-active & {
      transform: rotate(-180deg);
    }
    &::before {
      position: relative;
      top: 1px;
      font-size: toRem(24);
    }
    @media (max-width:$mobileSmall){
      //  margin-right: toRem(4); 
    }
  }
  // .rules-spollers__body
  &__body {
  }
	// .rules-spollers__wrapper
	&__wrapper {
    padding-top: toRem(24);

    @media (min-width:$mobileSmall){
       padding-right: toRem(16);
       padding-bottom: toRem(16);
      }
      @media (max-width:$mobileSmall){
      padding-right: toRem(8);
      padding-bottom: toRem(8); 
    }
  }
  // .rules-spollers__items
  &__items {
    &:not(:last-child) {
      padding-bottom: toRem(24);
      margin-bottom: toRem(24);
      border-bottom: toRem(1.5) solid var(--white);
      .popup-body-rules & {
        border-bottom: toRem(1.5) solid var(--gray-3);
      }
    }
  }
  // .rules-spollers__subtitle
  &__subtitle {
    font-size: toRem(13);
    margin-bottom: toRem(16);
    .popup-body-rules & {
      color: var(--fade-violet-2);
    }
  }
  // .rules-spollers__list
  &__list {
    @extend %listCounter;
  }
	// .rules-spollers__item
	&__item {
    position: relative;
    padding-left: toRem(32);
    @extend %fonsSize15-14;
    line-height: 1.5; 
    &::before {
      font-weight: 400;
      font-size: toRem(13);
      width: toRem(20);
      aspect-ratio: 1;
      background-color: var(--dark-violet);
      color: var(--white);
      border-radius: 50%;
      display: grid;
      place-items: center;
      top: toRem(1) !important;
    }
    &:not(:last-child) {
      margin-bottom: toRem(24);
    }
	}
  // .rules-spollers__txt
  &__txt {
    &:not(:last-child) {
      margin-bottom: toRem(8);
    }
    @media (min-width:$mobileSmall){
      padding-right: toRem(80);
      .popup-body-rules & {
        padding-right: 0;
      }
    }
  }
  // .rules-spollers__txt--sm
  &__txt--sm {
    @extend %fonsSize13-14;
    color: var(--fade-violet-2);
    @media (min-width:$mobileSmall){
       padding-left: toRem(16); 
    }
  }
	// .rules-spollers__sublist
	&__sublist {
	}
	// .rules-spollers__subitem
	&__subitem {
    position: relative;
    padding-left: toRem(34);
    color: var(--fade-violet-2);
    font-size: toRem(13);
    line-height: 1.46;
    &::before {
      display: none;
    }
    &::after {
      content:'';
      top: toRem(10);
      left: toRem(22);
      position: absolute;
      width: toRem(2);
      aspect-ratio: 1;
      background-color: var(--fade-violet-2);
      border-radius: 50%;
    }
	}
}

.card-offer {
  &.best-offer {
    .best-offer__title {
      @media (max-width:$mobileSmall){
         margin-bottom: toRem(12); 
      }
    }
  }
}


.gift-option {
  display: flex;
  flex-wrap: wrap;
  gap: toRem(4);
  // .gift-option__item
  &__item {
    display: flex;
    flex: 0 0 toRem(40);
  }
  // .gift-option__input
  &__input {
    display: none;
    &:checked {
      + .gift-option__label {
       border-color: var(--dark-violet);
       .gift-option__color {
        color: var(--dark-violet);
       }
      }
    }
  }
  // .gift-option__label
  &__label {
    cursor: pointer;
    flex: 0 0 toRem(40);
    display: block;
    width: toRem(40);
    height: toRem(40);
    aspect-ratio: 1;
    border-radius: 50%;
    border: toRem(4) solid var(--gray-1);
  }
  // .gift-option__color
  &__color {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: toRem(1.5) solid var(--white);
    font-size: toRe(13);
    color: var(--fade-violet-2);
  }
}
.color-beige {
  background-color: var(--clr-beige);
}
.color-lavender {
  background-color: var(--clr-lavender);
}
.color-mint {
  background-color: var(--clr-mint);
}
.color-blue {
  background-color: var(--clr-blue);
}
.color-yellow {
  background-color: var(--clr-yellow);
}
.color-red {
  background-color: var(--clr-red);
}
.color-green {
  background-color: var(--clr-green);
}
.color-black {
  background-color: #000;
}
.color-white {
  background-color: var(--white);
}



// == reviews ==================================================
.review {
  // .review__container
  &__container {
  }
  // .review__header
  &__header {
    @media (min-width:toEm(700.98)){
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  // .review__block
  &__block {
    @media (max-width:toEm(700.98)){
       margin-bottom: toRem(24); 
    }
  }
  // .review__title
  &__title {
    @media (max-width:$mobileSmall){
       margin-bottom: toRem(2); 
    }
  }
  // .review__card-header
  &__card-header {
    &.card__header {
      @media (min-width:$mobileSmall){
         display: none; 
      }
    }
    .card__title {
      @media (max-width:$mobileSmall){
         color: var(--fade-violet-2); 
      }
    }
  }
  // .review__buttons
  &__buttons {
    @extend %flexCenterGap8;
    @media (max-width: toEm(370.98)){
      flex-direction: column;
    }
  }
  // .review__btn
  &__btn {
    white-space: nowrap;
    @media (min-width:$mobileSmall){
      min-width: toRem(180);
    }
  }
  // .review__items
  &__items {
  }
  // .review__item
  &__item {
    &:not(:last-child) {
      margin-bottom: toRem(8);
    }
  }
  // .review__more
  &__more {
  }
  // .review__more-btn
  &__more-btn {
    @extend %flexCenterGap8;
    @extend %fonsSize15-14;
    margin-inline: auto;
    color: var(--fade-violet-2);
    transition: color .3s ease 0s;
    &::before {
      font-size: toRem(24);
    }
    @media (any-hover: hover){
      &:hover{
        color: var(--dark-violet);
      }
    }
  }
}

.item-review {
  border-radius: toRem(30);
  background-color: var(--white);
  @media (min-width:$mobileSmall){
     padding: toRem(28) toRem(32) toRem(32); 
  }
  @media (max-width:$mobileSmall){
    padding: toRem(24); 
  }
  // .item-review__header
  &__header {
    display: grid;
    margin-bottom: toRem(8);
    gap: toRem(16) 0;
    @media (min-width:toEm(700.98)){
      grid-template-columns: 23.7% minmax(toRem(200),toRem(515)) 1fr;
      align-items: center;
    }
    @media (max-width: toEm(700.98)){
      grid-template-columns: 1fr auto;        
    }
  }
  // .item-review__avatar
  &__avatar {
    @extend %flexCenterGap8;
    @media (max-width: toEm(700.98)){
      grid-column: span 2;

    }
  }
  // .item-review__avatar-img
  &__avatar-img {
    width: toRem(32);
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--dark-violet);
    flex: 0 0 toRem(32);
    display: grid;
    place-items: center;
    img {
      width: 100%;
      height: auto;
    }
  }
  // .item-review__avatar-txt
  &__avatar-txt {
    @extend %fonsSize15-14;
    line-height: 1.5;
  }
  // .item-review__rating
  &__rating {
  }
  // .item-review__date
  &__date {
    justify-self: flex-end;
    @extend %fonsSize13-12;
    line-height: 1.58;
    color: var(--fade-violet-2);
    @media (max-width:$mobileSmall){
       font-weight: 600; 

    }
  }
  // .item-review__body
  &__body {
    display: grid;
    @media (min-width:toEm(700.98)){
      grid-template-columns: 23.7% minmax(toRem(200),toRem(515)) 1fr;
    }
  }
  // .item-review__wrapper
  &__wrapper {
    @media (min-width:toEm(700.98)){
      grid-column: 2/3;
    }
  }
  // .item-review__text
  &__text {
    @extend %fonsSize15-14;
    @media (min-width:$mobileSmall){
       line-height: 1.46; 
    }
    @media (max-width:$mobileSmall){
       line-height: 1.5; 
    }
  }
  // .item-review__photo
  &__photo {
    margin-top: toRem(16);
    img {
      width: 100%;
      max-width: toRem(183);
      height: auto;
      border-radius: toRem(12.8);
    }
  }
  // .item-review__response
  &__response {
    padding-left: toRem(16);
    border-left: toRem(1.5) solid var(--gray-7);
    @media (min-width:$mobileSmall){
       margin-top: toRem(16); 
    }
    @media (max-width:$mobileSmall){
        margin-top: toRem(8); 
        
    }
  }
  // .item-review__response-head
  &__response-head {
    @extend %flexCenterGap8;
    margin-bottom: toRem(12);
  }
  // .item-review__response-avatar
  &__response-avatar {
    width: toRem(32);
    flex: 0 0 toRem(32);
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--gray-1);
    display: grid;
    place-items: center;
    font-size: toRem(13);
    img {
      width: toRem(15.42);
      height: auto
    }
  }
  // .item-review__response-text
  &__response-text {
    @extend %fonsSize15-14;
    color: var(--fade-violet-2);
    @media (min-width:$mobileSmall){
       line-height: 1.46; 
    }
    @media (max-width:$mobileSmall){
       line-height: 1.5; 
    }
  }
}

.review-empty {
  // .review-empty__container
  &__container {
  }
	// .review-empty__body
	&__body {
    margin-inline: auto;
    width: fit-content;
    text-align: center;
    min-width: toRem(270);
    display: flex;
    flex-direction: column;
    @media (min-width:$mobileSmall){
       gap: toRem(24); 
    }
    @media (max-width:$mobileSmall){
      gap: toRem(16);     
    }
	}
  // .review-empty__imgs
  &__imgs {
    position: relative;
    padding-bottom: toRem(10);
    left: -10%;
    @media (min-width:$mobileSmall){
       padding-top: toRem(36); 
    }
    @media (max-width:$mobileSmall){
        padding-top: toRem(33);
    }
    img {
      box-shadow: 0 3px 40px 0 rgba(33, 5, 41, 0.12);
      height: auto;
      &:nth-child(1) {
        position: relative;
        z-index: 2;
        transform: rotate(-10.5deg);
      }
      &:nth-child(2) {
        transform: rotate(15.25deg);
        position: absolute;
        top: 0;
        right: 0;
        @media (max-width:$mobileSmall){
           right: 5%; 
        }
      }
      @media (min-width:$mobileSmall){
        border-radius: toRem(16);
        width: toRem(156); 
      }
      @media (max-width:$mobileSmall){
        border-radius: toRem(14);
        width: toRem(140); 
      }
    }
  }
  // .review-empty__title
  &__title {
    @extend %fonsSize32-20;
    @media (min-width:$mobileSmall){
        line-height: 1.18;
    }
    @media (max-width:$mobileSmall){
       line-height: 1.35; 
    }
  }
  // .review-empty__btn
  &__btn {
    min-width: toRem(180);
    max-width: max-content;
    margin-inline: auto;
  }
}
