// ==== CART =========================
.cart {
  @include adaptiveValue("padding-top", 32, 13,0,1400.98,480.98);
  @media (min-width:$mobileSmall){
    padding-bottom: toRem(120);
  }
  // .cart__container-b
  &__container-b {
    @media (max-width: toEm(1264)) and (min-width:$mobileSmall) {
      padding-inline: toRem(32);
    }
  }
  // .cart__header
  &__header {
    display: grid;
    @media (min-width:toEm(950.98)){
      grid-template-columns: 1fr 24.8%;
    }
    @media (max-width: toEm(950.98)) and (min-width:$mobile){
      grid-template-columns: 1fr 34%;
    }
  }
  // .cart__wrapper
  &__wrapper {
    display: grid;
    @media (min-width:toEm(950.98)){
      grid-template-columns: 1fr 24%;
    }
    @media (max-width: toEm(950.98)) and (min-width:$mobile){
      grid-template-columns: 1fr 33%;
    }
    @media (max-width:$mobile) and (min-width: toEm(700.98)) {
      grid-template-columns: 1fr toRem(232);
    }
    @media (min-width:toEm(700.98)){
      gap: toRem(8); 
    }
  }
  // .cart__orders
  &__orders {
    @media (max-width: toEm(700.98)){
      margin-bottom: toRem(24);
    }
  }
  // .cart__order
  &__order {
    border-radius: toRem(24);
    background-color: var(--white);
    &:not(:last-child) {
      margin-bottom: toRem(8);
    }
    position: relative;
    &:nth-child(1) {
      z-index: 3;
    }
    &:nth-child(2) {
      z-index: 2;
    }
  }
  // .cart__head
  &__head {
    @extend %flexCenterGap8;
    justify-content: space-between;
    padding: toRem(12) toRem(16);
    border-bottom: toRem(1.5) solid var(--gray-1);
    min-height: toRem(48);
  }
  // .cart__subtitle
  &__subtitle {
    @extend %fonsSize15-14;
    @media (min-width:$mobileSmall){
      line-height: 1.2;
    }
    @media (max-width:$mobileSmall){
       line-height: 1.36; 
    }
  }
  // .cart__type
  &__type {
    @extend %flexCenterGap8;
    @extend %fonsSize13-14;
    color: var(--fade-violet-2);
    &::before {
      font-size: toRem(24);
    }
  }
  // .cart__item
  &__item {
  }
  // .cart__total
  &__total {
  }
}

.header-cart {
  // .header-cart__top
  &__top {
    @extend %flexCenterGap8;
    justify-content: space-between;
    flex-wrap: wrap;
    &:not(:last-child) {
      @media (min-width:$mobileSmall){
         margin-bottom: toRem(16); 
      }
      @media (max-width:$mobileSmall){
         margin-bottom: toRem(8); 
      }
    }
    @media (max-width:$mobileSmall){
       padding: toRem(10) toRem(16); 
       flex-direction: column;
       align-items: flex-start;
    }
  }
  // .header-cart__block
  &__block {
    @extend %flexCenterGap8;
    gap: toRem(16);
    @media (max-width:$mobileSmall){
       justify-content: space-between; 
       width: 100%;
    }
  }
  // .header-cart__title
  &__title {
    @include adaptiveValue("font-size", 28, 14,0,1400.98,480.98);
    @media (min-width:$mobileSmall){
      line-height: 1.17;
    }
    @media (max-width:$mobileSmall){
      line-height: 1.35;
    }
  }
  // .header-cart__timer
  &__timer {
    @media (min-width:toEm(820.98)){
      margin-top: toRem(2);
    }
    .edit-btn {
      margin: 0;
      @media (max-width:$mobileSmall){
         span {
          display: none;
         } 
      }
    }
  }
  // .header-cart__clear
  &__clear {
  }
  // .header-cart__message
  &__message {
    @extend %flexCenterGap8;
    @extend %fonsSize13-14;
    border-radius: toRem(16);
    background-color: var(--beige);
    &::before {
      font-size: toRem(24);
    }
    @media (min-width:$mobileSmall){
      padding: toRem(8) toRem(16);
      line-height: 1.5;
    }
    @media (max-width:$mobileSmall){
      padding: toRem(16);
      line-height: 1.5;
      align-items: flex-start;
    }
  }
}

.item-cart {
  display: grid;
  gap: toRem(16);
  align-items: center;
  position: relative;
  &:not(:last-child) {
    border-bottom: toRem(1.5) solid var(--gray-1);
  }
  &:nth-child(1) {
    z-index: 15;
  }
  &:nth-child(2) {
    z-index: 14;
  }
  &:nth-child(3) {
    z-index: 13;
  }
  &:nth-child(4) {
    z-index: 12;
  }
  &:nth-child(5) {
    z-index: 11;
  }
  &:nth-child(6) {
    z-index: 10;
  }
  &:nth-child(7) {
    z-index: 9;
  }
  &:nth-child(9) {
    z-index: 8;
  }
  &:nth-child(9) {
    z-index: 7;
  }
  &:nth-child(10) {
    z-index: 6;
  }
  @media (min-width:toEm(1150.98)){
    grid-template-columns: 50% 1fr auto;
  }
  @media (max-width:toEm(1150.98)){
    grid-template-columns: 40% 1fr auto;
  }
  @media (max-width: toEm(950.98)){
    grid-template-columns: 1fr auto;
  }
  @media (min-width:$mobileSmall){
    padding: toRem(12); 
  }
  @media (max-width:$mobileSmall){
    padding: toRem(16) toRem(24); 
  }
  // .item-cart_disabled
  &_disabled {
    @media (min-width:$mobileSmall){
      gap: toRem(12) toRem(16);
    }
    .item-cart__info,
    .item-cart__buttons {
      pointer-events: none;
      opacity: .35;
    }
  }
  // .item-cart__info
  &__info {
    display: grid;
    align-items: center;
    gap: toRem(4) toRem(16);
    .item-cart--align-start & {
      align-self: flex-start;
    }
    @media (min-width:toEm(1150.98)){
      grid-template-columns: toRem(86) 24% 1fr;
    }
    @media (max-width: toEm(1150.98)){
      grid-template-columns: toRem(86) 1fr;
    }
    @media (max-width: toEm(480.98)){
      grid-template-columns: auto 1fr;
    }
  }
  // .item-cart__img
  &__img {

    img {
      border-radius: toRem(12);
      aspect-ratio: 87/56;
    } 
    @media (max-width: toEm(1150.98)){
      grid-column: 1/2;
      grid-row: 1/3;    
      align-self: flex-start;
    }
    @media (min-width:$mobileSmall){
      width: toRem(83);
    }
    @media (max-width:$mobileSmall){
      width: toRem(75);
    }
  }
  // .item-cart__title
  &__title {
    @extend %fonsSize13-12;
    @media (max-width: toEm(1150.98)){
      align-self: flex-end;
    }
    @media (min-width:$mobileSmall){
      line-height: 1.46; 
    }
    @media (max-width:$mobileSmall){
      line-height: 1.33; 
      color: var(--fade-violet-2); 
    }
  }
  // .item-cart__subtitle
  &__subtitle {
    font-size: toRem(13);
    line-height: 1.46; 
    @media (max-width: toEm(1150.98)){
      align-self: flex-start;
    }
  }
  // .item-cart__buttons
  &__buttons {
    display: grid;
    gap: toRem(16);
    grid-template-columns: 49% 49%;
    @media (min-width:toEm(950.98)){
      align-items: center;
    }
    @media (max-width: toEm(950.98)){
      grid-row: 2/3;
      grid-column: span 2;
    }
    @media (max-width:$mobile){
       gap: toRem(8); 
    }
  }
  // .item-cart__select
  &__select {
    position: relative;
    @media (min-width:toEm(950.98)){
      width: toRem(144);
    }
  }
  // .item-cart__quantity
  &__quantity {
    .quantity__input {
      left: 0;
    }
    @media (min-width:toEm(950.98)){
      width: toRem(154);
    }
  }
  // .item-cart__trash
  &__trash {
  }
  // .item-cart__delete
  &__delete {
    display: grid;
    place-items: center;
    @media (max-width:$mobileSmall){
      width: toRem(40);
      aspect-ratio: 1;
    }
    &::before {
      font-size: toRem(24);
      transition: color .3s ease;
      color: var(--violet);
    }
  }
	// .item-cart__disabled
	&__disabled {
    @extend %fonsSize11-12;
    color: var(--red);
	}
}

%totalCartPd {
    @media (min-width:toEm(1150.98)){
      padding: toRem(32) toRem(32) toRem(16) toRem(32);
    }
    @media (max-width: toEm(1150.98)){
      padding: toRem(16);
    }
}
.total-cart {
  // .total-cart__item
  &__item {
    background-color: var(--white);
    @media (min-width:toEm(700.98)){
      position: sticky;
      top: toRem(75);
    }
    @media (min-width:$mobileSmall){
      border-radius: toRem(24);
    }
    @media (max-width: toEm(700.98)){
        position: relative;
    }
    @media (max-width:$mobileSmall){
       margin-inline: toRem(-8); 
    }
  }
  // .total-cart__header
  &__header {
    @media (min-width:toEm(1150.98)){
      padding: toRem(32) toRem(32) toRem(16) toRem(32);
    }
    @media (max-width: toEm(1150.98)){
      padding: toRem(16);
    }
    @media (max-width:$mobileSmall){
      padding: toRem(16) toRem(16) toRem(0) toRem(16);
    }
    @media (min-width:$mobileSmall){
      border-bottom: toRem(1.5) solid var(--gray-1);
    }
  }
  // .total-cart__order
  &__order {
    @extend %flexCenterGap8;
    justify-content: space-between;
    &:not(:last-child) {
      @media (min-width:$mobileSmall){
        margin-bottom: toRem(4);
      }
      @media (max-width:$mobileSmall){
        margin-bottom: toRem(6);
      }
    }
  }
  // .total-cart__txt
  &__txt {
    @extend %flexCenterGap8;
    gap: toRem(4);
    @extend %fonsSize11-12;
    color: var(--fade-violet-2);
    &::before {
      font-size: toRem(24);
    }
  }
  // .total-cart__subtotal
  &__subtotal {
    @extend %fonsSize13-14;
  }
  // .total-cart__footer
  &__footer {
     @extend %totalCartPd;
    @media (min-width:toEm(1150.98)){
       padding: toRem(24) toRem(32) toRem(32);
    }
    @media (max-width: toEm(1150.98)){
      padding: toRem(16);
    }
    @media (max-width: toEm(700.98)){
      display: grid;
      grid-template-columns: 1fr auto;
      gap: toRem(12);
    }
    @media (max-width:$mobileSmall){
      position: sticky;
      position: -webkit-sticky;
      bottom: 0;
      z-index: 3;
      transform: translate3d(0,0,0);
      background-color: var(--white);
      margin-inline: toRem(-8);
      transition: box-shadow .3s ease;
      &._fixed {
        box-shadow: 0 -4px 40px 0 rgba(33, 5, 41, 0.12);
      }
      &:not(._fixed) {
        // z-index: 0;
      }
    }
  }
  // .total-cart__subtxt
  &__subtxt {
    @extend  %fonsSize11-14;
    color: var(--fade-violet-2);
    @media (min-width:toEm(700.98)){
      margin-bottom: toRem(8);
    }
    @media (max-width: toEm(700.98)){
      align-self: center;
    }
    @media (min-width:$mobileSmall){
        line-height: 1.18;
    }
    @media (max-width:$mobileSmall){
       line-height: 1.35; 
    }
  }
  // .total-cart__total
  &__total {
    @extend  %fonsSize28-20;
    @media (min-width:toEm(700.98)){
      margin-bottom: toRem(16);
    }
  }
  // .total-cart__payment
  &__payment {
    width: 100%;
    @media (max-width: toEm(700.98)){
        grid-column: span 2;
    }
  }
}



// ==== EMPTY CART =========================
.cart-empty {
  @include adaptiveValue("padding-top", 195, 56,0,1400.98,480.98);
  @include adaptiveValue("padding-bottom", 270, 56,0,1400.98,480.98);
  // .cart-empty__container
  &__container {
  }
  // .cart-empty__block
  &__block {
    max-width: toRem(303);
    margin-inline: auto;
    text-align: center;
  }
  // .cart-empty__title
  &__title {
    @extend %flexCenterGap8;
    gap: toRem(16);
    justify-content: center;
    @extend  %fonsSize23-20;
    &::before {
      font-size: toRem(24);
    }
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 28, 20,0,1400.98,480.98);
    }
    @media (max-width:$mobileSmall){
       line-height: 1.35; 
    }
  }
  // .cart-empty__subtitle
  &__subtitle {
    @extend  %fonsSize13-14;
    @media (min-width:$mobileSmall){
       line-height: 1.46; 
    }
    @media (max-width:$mobileSmall){
        line-height: 1.5;
    }
  }
  // .cart-empty__link
  &__link {
    max-width: fit-content;
    margin-inline: auto;
  }
}

.best-offer {
  @extend %paddingBottom120-56;
  // .best-offer__container
  &__container {
  }
  // .best-offer__title
  &__title {
  }
  // .best-offer__body
  &__body {
  }
}


