.feedback {
  @extend %paddingTbBt56-16;
  background-color: var(--white);

  &__container {
    overflow: visible;
    position: relative;
    max-width: toRem(1280);
    margin: 0 auto;
    padding: 0 toRem(16);
  }
  
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: toRem(32);
    
    @media (max-width: $mobile) {
      margin-bottom: toRem(24);
    }
  }
  
  &__title {
    @extend %fonsSize40-20;
    font-weight: 500;
    color: var(--dark-violet);
    line-height: 1.2;
    @media (max-width: $mobile) {
        font-size: toRem(23);
    }
  }
  
  &__nav {
    display: flex;
    align-items: center;
    
    @media (max-width: $mobile) {
      display: none;
    }
  }
  
  &__button-prev,
  &__button-next {
    width: toRem(32);
    height: toRem(32);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--fade-violet-2);
    font-size: toRem(20);
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 100%;
    background-color: var(--gray-1);
    
    @media (any-hover: hover) {
      &:hover {
        color: var(--dark-violet);
      }
    }
    
    &._disabled,
    &.swiper-button-disabled {
      opacity: 0.5;
      pointer-events: none;
    }
    
    &:not(:last-child) {
      margin-right: toRem(8);
    }
  }
  
  &__button-prev {
    .icon-arrow-down {
      transform: rotate(90deg);
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 0;
      height: 100%;
    }
  }
  
  &__button-next {
    .icon-arrow-down {
      transform: rotate(-90deg);
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 0;
      height: 100%;
    }
  }

  &__slider-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  &__slider {
    position: relative;
    width: 100%;
    overflow: visible;
    padding-left: calc((100vw - toRem(1280)) / 2 + toRem(16));
    
    @media (max-width: toEm(1280)) {
      padding-left: toRem(16);
    }
    
    @media (max-width: $mobile) {
      padding: 0 toRem(16);
      overflow: hidden;
    }
    
    .swiper-slide {
      height: auto;
      width: toRem(400);
      
      @media (max-width: $mobile) {
        &:nth-child(n+3) {
          display: none;
        }
        width: 100%;
      }
    }
    
    .swiper-wrapper {
      padding-left: 0;
      
      @media (max-width: $mobile) {
        display: flex;
        flex-direction: column;
        gap: toRem(16);
        transform: none !important;
      }
    }
  }

  
  &__mobile {
    display: none;
    
    @media (max-width: $mobile) {
      display: flex;
      justify-content: center;
      margin-top: toRem(24);
    }
  }
  
  &__mobile-button {
    font-size: toRem(14);
    color: var(--fade-violet-2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: toRem(10) toRem(20);
    
    span {
      font-size: toRem(20);
      display: flex;
      align-items: center;
      margin-right: toRem(8);
    }
  }
}

.feedback-card {
  background-color: var(--gray-1);
  border-radius: toRem(24);
  overflow: hidden;
  box-shadow: var(--card-shadow);
  padding: toRem(32);
  height: auto;
  margin-right: toRem(24);
  
  @media (max-width: $mobile) {
    padding: toRem(24);
    margin-right: 0;
  }
  
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: toRem(24);
    
    @media (max-width: $mobile) {
      margin-bottom: toRem(16);
      justify-content: space-between;
    }
  }
  
  &__logo {
    width: toRem(120);
    height: toRem(40);
    display: flex;
    align-items: center;
    margin-right: toRem(24);
    flex-shrink: 0;
    
    @media (max-width: $mobile) {
      width: toRem(100);
      margin-right: toRem(16);
    }
    
    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }
  
  &__person {
    display: flex;
    flex-direction: column;
  }
  
  &__name {
    font-size: toRem(15);
    font-weight: 500;
    color: var(--dark-violet);
    line-height: 1.3;
    
    @media (max-width: $mobile) {
      font-size: toRem(14);
    }
  }
  
  &__position {
    font-size: toRem(11);
    color: var(--fade-violet-2);
    line-height: 1.4;
    
    @media (max-width: $mobile) {
      font-size: toRem(12);
    }
  }
  
  &__text {
    color: var(--fade-violet-3);
    font-size: toRem(15);
    line-height: 1.5;
    
    @media (max-width: $mobile) {
      font-size: toRem(14);
    }
    
    p {
      margin: 0;
    }
  }
} 

.faq__dark{
    background: var(--white);
    .spollers-faq__item {
      background-color: var(--gray-1);
    }
    .dropdown-arrow{
      user-select: none;
      background-color: var(--white);
      &:hover{
        background-color: var(--dark-violet);
      }
    }
}
.faq__exeption{
  padding-top: toRem(120);
  @media (max-width: $mobile) {
    padding-top: toRem(56);
  }
  .faq__title{
    @media (max-width: $mobile) {
      display: none;
    }
  }
}

.corporative{
  @extend %paddingTbBt56-16;
}

.awards {
  @extend %paddingTbBt56-16;
  
  &__title {
    font-size: toRem(13);
    font-weight: 500;
    color: var(--fade-violet-3);
    line-height: 1.3;
    margin-bottom: toRem(25);
    
    @media (max-width: $mobile) {
      font-size: toRem(14);
      margin-bottom: toRem(16);
    }
  }
  
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: toRem(5);
    @media (max-width: toEm(1280)) {
     display: grid;
     gap: toRem(30);
     grid-template-columns: repeat(4, 1fr);
    }
    
    @media (max-width: $mobile) {
      gap: toRem(10);
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: toRem(5);
    
    img {
      width: fit-content;
      height: auto;
      @media (max-width: $mobile) {
        height: auto;
        max-width: toRem(140);
        width: 100%;
      }
    }
  }
}

.benefits {
  background-color: var(--white);
  padding-top: toRem(115);
  @media (max-width: $mobile) {
    padding-top: toRem(56);
    border-top-left-radius: toRem(24);
    border-top-right-radius: toRem(24);
  }
  
  &__container {
    max-width: toRem(1280);
    margin: 0 auto;
    padding: 0 toRem(16);
  }
  
  &__header {
    text-align: left;
    margin-bottom: toRem(22);
    
    @media (max-width: $mobile) {
      margin-bottom: toRem(24);
    }
  }
  
  &__title {
    font-size: toRem(40);
    font-weight: 500;
    color: var(--dark-violet);
    line-height: 1.2;
    margin-bottom: toRem(8);
    
    @media (max-width: $mobile) {
      font-size: toRem(23);
    }
    br{
      @media (max-width: $mobile) {
        display: none;
      }
    }
  }
  
  &__subtitle {
    font-size: toRem(40);
    font-weight: 500;
    color: var(--fade-violet-2);
    line-height: 1.2;
    
    @media (max-width: $mobile) {
      font-size: toRem(23);
    }
  }
  
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: toRem(8);
    
    @media (max-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    
    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
      gap: toRem(8);
    }
  }
  
  &__item {
    position: relative;
    background-color: var(--gray-1);
    border-radius: toRem(24);
    padding: toRem(32);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    @media (max-width: $mobile) {
      padding: toRem(24);
    }
    
    img {
      width: fit-content;
      height: auto;
      object-fit: contain;
      align-self: flex-start;
    }
    &_fix{
      .benefits__text{
        margin-top: toRem(35);
        @media (max-width: $mobile) {
          margin-top: auto;
        }
      }
    }
  }
  
  &__wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  &__number {
    font-size: toRem(11);
    font-weight: 500;
    color: var(--fade-violet-2);
    margin-bottom: toRem(16);
    
    @media (max-width: $mobile) {
      font-size: toRem(12);
      margin-bottom: toRem(12);
    }
  }
  
  &__item-title {
    font-size: toRem(23);
    font-weight: 500;
    color: var(--dark-violet);
    line-height: 1.3;
    margin-bottom: toRem(32);
    
    @media (max-width: $mobile) {
      font-size: toRem(20);
      margin-bottom: toRem(16);
    }
  }
  
  &__text {
    font-size: toRem(15);
    color: var(--fade-violet-3);
    line-height: 1.5;
    margin-bottom: toRem(32);
    margin-top: auto;
    
    @media (max-width: $mobile) {
      font-size: toRem(14);
      margin-bottom: toRem(24);
    }
  }
}

.solutions {
  padding: toRem(120) 0;
  background-color: var(--gray-1);
  border-top-left-radius: toRem(40);
  border-top-right-radius: toRem(40);
  position: relative;
  
  @media (max-width: $mobile) {
    border-top-left-radius: toRem(24);
    border-top-right-radius: toRem(24);
    padding: toRem(100) 0;
  }
  
  &__content {
    display: flex;
    gap: toRem(40);

    
    @media (max-width: $tablet) {
      flex-direction: column;
      gap: toRem(32);
    }
  }
  
  &__sidebar {
    width: toRem(320);
    flex-shrink: 0;
    
    @media (max-width: $tablet) {
     display: none;
    }
  }
  &__sidebar-wrapper{
    position: sticky;
    top: 20%;
  }
  
  &__title {
    font-size: toRem(40);
    font-weight: 500;
    color: var(--dark-violet);
    margin-bottom: toRem(27);
  }
  
  &__nav {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  &__nav-item {
    margin-bottom: toRem(16);
    
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  &__nav-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    text-align: left;
    padding-left: toRem(20);
    background: transparent;
    border: none;
    font-size: toRem(13);
    color: var(--fade-violet-2);
    line-height: 1.4;
    cursor: pointer;
    transition: color 0.3s ease;
    
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: toRem(8);
      height: toRem(8);
      background-color: transparent;
      border-radius: 50%;
      border: 1px solid var(--fade-violet-3);
      transition: background-color 0.3s ease;
    }
    
    &._active {
      color: var(--accent);
      font-weight: 500;
      
      &::before {
        background-color: var(--fade-violet-3);
      }
    }
  
  }
  
  &__tabs {
    flex-grow: 1;
    display: grid;
    gap: toRem(32);
  }
  
  &__tab {
    display: block;
    background-color: var(--white);
    border-radius: toRem(40);
    padding: toRem(32);
    position: relative;
    position: sticky;
    box-shadow: toRem(1) toRem(-16) toRem(16) rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: toRem(472);
  
    &:nth-child(1) {
      top: 15%;
      @media (max-width: $mobile) {
        top: 0;
      }
    }
    
    @for $i from 2 through 8 {
      &:nth-child(#{$i}) {
        top: 15% + (($i - 1) * 3%);
        @media (max-width: $mobile) {
          top: 0% + (($i - 1) * 3%);
        }
      }
    }
    
    @media (max-width: $mobile) {
      padding: toRem(24);
      border-radius: toRem(32);
      display: block;
    }

    br{
      @media (max-width: $mobile) {
        display: none;
      }
    }
  }
  
  &__tab-header {
    gap: toRem(60);
    display: grid;
    grid-template-columns: 1fr toRem(250);
    column-gap: toRem(24);
    margin-bottom: toRem(40);
    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
      gap: 0;
     }
  }
  
  &__tab-title {
    font-size: toRem(23);
    font-weight: 500;
    color: var(--dark-violet);
    margin-bottom: toRem(24);
    line-height: 1.3;
  }
  
  &__tab-description {
    font-size: toRem(15);
    line-height: 1.5;
    color: var(--fade-violet-3);
    @media (max-width: $mobile) {
      font-size: toRem(14);
    }
  }
  
  &__tab-button {
    width: fit-content;
    margin-left: auto;
    padding: toRem(15) toRem(24);
    line-height: 1;
    min-height: auto;
    font-size: toRem(13);
    
    @media (max-width: $mobile) {
     display: none;
    }
  }
  
  &__features {
    gap: toRem(10);
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
      gap: toRem(30);
    }
  }
  &__feature-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:toRem(24);
    max-width: toRem(520);
    position: relative;
    z-index: 2;
    
    @media (max-width: $mobile) {
      gap: toRem(16);
    }
  }
  
  &__feature-icon {
    width: toRem(40);
    height: toRem(40);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: toRem(8);
    background-color: var(--gray-1);
    border-radius: 50%;
    font-size: toRem(20);
  }
  
  &__feature-title {
    font-size: toRem(15);
    font-weight: 500;
    color: var(--fade-violet-3);
    margin-bottom: toRem(8);
    
    @media (max-width: $mobile) {
      font-size: toRem(12);
      margin-bottom: toRem(6);
    }
  }
  
  &__feature-text {
    font-size: toRem(15);
    color: var(--fade-violet-3);
    line-height: 1.4;
    
    @media (max-width: $mobile) {
      font-size: toRem(13);
    }
  }
  
  &__image {
    margin-left: auto;
    margin-top: auto;
    width: auto;
    max-height: toRem(230);
    @media (max-width: $tablet) {
      max-height: toRem(120);
      max-width: toRem(180);
    }
  }
}

.corporative-clients-page{
  .awards{
    padding-top: 0;
    @media (max-width: $mobile) {
      padding-top: toRem(55);
    }
  }
}