.login {
  padding-inline: toRem(16);
	background-color: var(--gray-1);
	// transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;
  @media (min-width:$mobileSmall){
    padding-top: toRem(30);
    padding-bottom: toRem(30);
    flex: 1;
    display: grid;
    align-items: center;
  }
  @media (max-width:$mobileSmall){
    padding-top: toRem(75);
    padding-bottom: toRem(96);
  }
	
	// .login__header
	&__header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 5;
		pointer-events: none;
		@extend %flexCenterGap8;
		justify-content: space-between;
		@media (min-width:$mobileSmall){
			padding: toRem(32) toRem(32) toRem(16);
		}
		@media (max-width:$mobileSmall){
			padding: toRem(12) toRem(16) toRem(12);
			background-color: var(--gray-1);
			border-radius: 0 0 toRem(24) toRem(24);
			transition: box-shadow .3s ease;
			&._header-scroll,
			._scroll-content & {
				box-shadow: 0 4px 20px 0 rgba(33, 5, 41, 0.12);
			}
		}
	}
	// .login__logo
	&__logo {
    pointer-events: all;
		.popup-login & {
			pointer-events: none;
		}
	}
		// .login__close
		&__close {
			pointer-events: all;
			background-color: var(--dark-violet);
			aspect-ratio: 1;
			border-radius: 50%;
			display: grid;
			place-items: center;
			transition: background-color .2s ease, color .2s ease;
			@media (min-width:$mobileSmall){
				width: toRem(40);
			}
			@media (max-width:$mobileSmall){
				width: toRem(32);
			}
			&::before {
				color: var(--white);
				@media (min-width:$mobileSmall){
					font-size: toRem(24);
				}
				@media (max-width:$mobileSmall){
					font-size: toRem(24);				
				}
			}
			@media (any-hover: hover){
				&:hover{
					background-color: var(--violet);
				}
			}
		}
	// .login__body
	&__body {
		position: relative;
		z-index: 2;
		width: 100%;
		max-width: toRem(480);
		background-color: var(--white);
		margin-inline: auto;
		@include adaptiveValue("border-radius", 40, 24,0,1400.98,480.98);
		@include adaptiveValue("padding", 54, 24,0,1400.98,480.98);
		display: grid;
		gap: toRem(32);
	}
	// .login__head
	&__head {
	}
	// .login__logo-sm
	&__logo-sm {
		border-radius: toRem(9);
		background-color: var(--gray-1);
		display: grid;
		place-items: center;
		justify-self: flex-start;
		padding: toRem(9.75) toRem(9.75) toRem(8.5);
		margin-bottom: toRem(16);
		width: max-content;
		img {
			height: auto;
			width: toRem(19.68);
		}
	}
	// .login__title
	&__title {
		@extend %fonsSize40-20;
		line-height: 1.2;
	}
	// .login__tel
	&__tel {
	}
	// .login__tel-input
	&__tel-input {
		&:not(:last-child) {
			margin-bottom: toRem(16);
		}
	}
	// .login__checked
	&__checked {
	}
	// .login__sms
	&__sms {
	}
	// .login__footer
	&__footer {
		display: grid;
		gap: toRem(16);
	}
	// .login__btn
	&__btn {
	}
	// .login__checkbox
	&__checkbox {
	}
}

.brands-login {
	position: fixed;
	inset: 0;
	z-index: 1;
	pointer-events: none;
	// .brands-login__img
	&__img {
		position: absolute;
		z-index: 0;
		height: auto;
		border-radius: toRem(12);
		@media (min-width:toEm(700.98)){
			 width: toRem(118); 
		}
		@media (max-width:toEm(700.98)){
			 width: toRem(78); 
		}
		&.img-1 {
			transform: rotate(118deg);
			@media (min-width:toEm(700.98)){
				top: 27%;
				left: 7%;
			}
			@media (max-width: toEm(700.98)){
				bottom: 4%;
				left: toRem(16);
			}
		}
		&.img-2 {
			transform: rotate(34deg);
			@media (min-width:toEm(700.98)){
				top: 49%;
				left: 12%;
			}
			@media (max-width: toEm(700.98)){
				bottom: 4%;
				left: 20%;
			}
		}
		&.img-3 {
			@media (min-width:toEm(700.98)){
				bottom: 12%;
				left: 7%;
				transform: rotate(5deg);
			}
			@media (max-width: toEm(700.98)){
				bottom: 4%;
				left: 50%;
				transform: translate(-50%,0) rotate(-30deg);
			}
		}
		&.img-4 {
			transform: rotate(8deg);
			@media (min-width:toEm(700.98)){
				top: 24%;
				right: 11%;
			}
			@media (max-width: toEm(700.98)){
				bottom: 4%;
				right: 21%;
			}
		}
		&.img-5 {
			@media (min-width:toEm(700.98)){
				top: 57%;
				right: 9%;
				transform: rotate(-9deg);
			}
			@media (max-width: toEm(700.98)){
				display: none;					
			}
		}
		&.img-6 {
			@media (min-width:toEm(700.98)){
				bottom: 8%;
				right: 6%;
				transform: rotate(15deg);
			}
			@media (max-width: toEm(700.98)){
				bottom: 4%;
				right: toRem(16);
				transform: rotate(118deg);
			}
		}
	}
}