input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.input {
	width: 100%;
	display: block;
	caret-color: inherit;
	border: toRem(1.5) solid transparent;
	// outline: toRem(1.5) solid var(--gray-1);
	outline: none;
	font-weight: 500;
	border-radius: toRem(24);
	padding: toRem(10) toRem(16); 
	background-color: var(--gray-1);
	cursor: pointer;
	color: var(--dark-violet);
	transition: background-color .3s ease, color .3s ease, border .3s ease, outline .3s ease;
	&_sm {
		min-height: toRem(40);
		font-size: toRem(13);
	}
	&_lg {
		min-height: toRem(48);
		font-size: toRem(15);
	}
	&_sms {
		letter-spacing: 36px;
		text-align: center;
	}
	&._form-focus {
	}
	&._form-error {
		border-color: var(--red);
		outline-color: var(--red);
		color: var(--red);
	}
	@media (any-hover: hover){
		&:hover{
			background-color: var(--gray-2);
			&::placeholder {
				color: var(--fade-violet-2);
			}
		}
	}
}
.input[placeholder]:not([data-placeholder-nohiden]) {
	&::placeholder {
		transition: opacity 0.3s, color .3s;
	}
	&:focus::placeholder {
		// opacity: 0;
	}
}

textarea.input {
	resize: none;
	padding: 0px 0px;
}

.input {
	// .input__item
	&__item {
		position: relative;
		.form__error {
			font-weight: 600;
			margin-top: toRem(8);
			color: var(--red);
			@media (min-width:$mobileSmall){
				font-size: toRem(11); 
		 	}
		 	@media (max-width:$mobileSmall){
				font-size: toRem(12); 
		 	}
		}
	}
	// .input__label
	&__label {
		font-weight: 600;
		@media (min-width:$mobileSmall){
			 font-size: toRem(11); 
			 margin-bottom: toRem(12);
		}
		@media (max-width:$mobileSmall){
				font-size: toRem(12); 
				margin-bottom: toRem(14);
		}
	}
}



// <BUTTONS>
// Сніппет (HTML): btn
// @import "button";

// <INPUTS>
// Сніппет (HTML): inp
// @import "input";

// <CHECK>
// Сніппет (HTML): chk
// @import "checkbox";

// <RADIO>
// Сніппет (HTML): opt
// @import "radio";

// <SELECT>
// Сніппет (HTML): sel
// @import "select";

// <RATING>
// Сніппет (HTML): rating
// @import "rating";

// <QUANTITY>
// Сніппет (HTML): qa
// @import "quantity";

// <RANGE>
// Сніппет (HTML):
// @import "range";

// <CALENDAR>
// Сніппет (HTML):
// @import "datepicker";
