%ic {
	font-family: "icons";
	font-style: normal;
	speak: never;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="icon-"] {
	&::before {
		@extend %ic;
	}
}


// https://icomoon.io/app/#/select/font
.icon-info:before {
  content: "\e959";
}
.icon-logo:before {
  content: "\e958";
}
.icon-accessories:before {
  content: "\e900";
}
.icon-analitics:before {
  content: "\e901";
}
.icon-archive:before {
  content: "\e902";
}
.icon-arrow-back:before {
  content: "\e903";
}
.icon-arrow-back-up:before {
  content: "\e904";
}
.icon-arrow-down:before {
  content: "\e905";
}
.icon-arrow-next:before {
  content: "\e906";
}
.icon-attantion:before {
  content: "\e907";
}
.icon-bag:before {
  content: "\e908";
}
.icon-balance:before {
  content: "\e909";
}
.icon-basket:before {
  content: "\e90a";
}
.icon-book:before {
  content: "\e90b";
}
.icon-cake:before {
  content: "\e90c";
}
.icon-calendar:before {
  content: "\e90d";
}
.icon-car:before {
  content: "\e90e";
}
.icon-categories:before {
  content: "\e90f";
}
.icon-certificates:before {
  content: "\e910";
}
.icon-charity:before {
  content: "\e911";
}
.icon-chat:before {
  content: "\e912";
}
.icon-check:before {
  content: "\e913";
}
.icon-checked-sertificates:before {
  content: "\e914";
}
.icon-children:before {
  content: "\e915";
}
.icon-clock:before {
  content: "\e916";
}
.icon-clock-1:before {
  content: "\e917";
}
.icon-clothes:before {
  content: "\e918";
}
.icon-code:before {
  content: "\e919";
}
.icon-cosmetics:before {
  content: "\e91a";
}
.icon-cross:before {
  content: "\e91b";
}
.icon-details:before {
  content: "\e91c";
}
.icon-diamension:before {
  content: "\e91d";
}
.icon-discount-off:before {
  content: "\e91e";
}
.icon-discount-on:before {
  content: "\e91f";
}
.icon-drugs:before {
  content: "\e920";
}
.icon-easy-computer:before {
  content: "\e921";
}
.icon-e-comm:before {
  content: "\e922";
}
.icon-edit:before {
  content: "\e923";
}
.icon-electronic:before {
  content: "\e924";
}
.icon-electronics:before {
  content: "\e925";
}
.icon-electronic-shop:before {
  content: "\e926";
}
.icon-exit:before {
  content: "\e927";
}
.icon-eye:before {
  content: "\e928";
}
.icon-file:before {
  content: "\e929";
}
.icon-filter:before {
  content: "\e92a";
}
.icon-finger-print:before {
  content: "\e92b";
}
.icon-fishing:before {
  content: "\e92c";
}
.icon-flag:before {
  content: "\e92d";
}
.icon-food:before {
  content: "\e92e";
}
.icon-gift:before {
  content: "\e92f";
}
.icon-group-of-people:before {
  content: "\e930";
}
.icon-home-goods:before {
  content: "\e931";
}
.icon-impressions:before {
  content: "\e932";
}
.icon-infinity:before {
  content: "\e933";
}
.icon-jewelry:before {
  content: "\e934";
}
.icon-location:before {
  content: "\e935";
}
.icon-mail:before {
  content: "\e936";
}
.icon-minus:before {
  content: "\e937";
}
.icon-no-money:before {
  content: "\e938";
}
.icon-no-video-games:before {
  content: "\e939";
}
.icon-paint:before {
  content: "\e93a";
}
.icon-petrol:before {
  content: "\e93b";
}
.icon-phisical-filling:before {
  content: "\e93c";
}
.icon-phone:before {
  content: "\e93d";
}
.icon-phone-sms:before {
  content: "\e93e";
}
.icon-physical:before {
  content: "\e93f";
}
.icon-physical-shop:before {
  content: "\e940";
}
.icon-plus:before {
  content: "\e941";
}
.icon-power:before {
  content: "\e942";
}
.icon-printer:before {
  content: "\e943";
}
.icon-puzzle:before {
  content: "\e944";
}
.icon-restorountes:before {
  content: "\e945";
}
.icon-rocket:before {
  content: "\e946";
}
.icon-search:before {
  content: "\e947";
}
.icon-sertificates:before {
  content: "\e948";
}
.icon-services:before {
  content: "\e949";
}
.icon-settings:before {
  content: "\e94a";
}
.icon-share:before {
  content: "\e94b";
}
.icon-share-1:before {
  content: "\e94c";
}
.icon-sport:before {
  content: "\e94d";
}
.icon-support:before {
  content: "\e94e";
}
.icon-time-experience:before {
  content: "\e94f";
}
.icon-trash:before {
  content: "\e950";
}
.icon-underclothes:before {
  content: "\e951";
}
.icon-update:before {
  content: "\e952";
}
.icon-upload:before {
  content: "\e953";
}
.icon-user:before {
  content: "\e954";
}
.icon-user-editing:before {
  content: "\e955";
}
.icon-wine:before {
  content: "\e956";
}
.icon-zoo:before {
  content: "\e957";
}
