// == CHECKOUT =======================================
// ---------------------------------------------------
.checkout {
  flex: 1;
  display: flex;
  flex-direction: column;
  // .checkout__top
  &__top {
    @media (min-width:$mobileSmall){
      padding-block: toRem(16);
    }
    @media (max-width:$mobileSmall){
      padding-block: toRem(12);
    }
  }
  // .checkout__container-c
  &__container-c {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: toRem(16);
  }
  // .checkout__continue
  &__continue {
    font-weight: 500;
    line-height: 1.4;
    display: flex;
    align-items: center;
    gap: toRem(6);
    font-size: toRem(14);
    @media (any-hover: hover){
      &:hover{
        color: var(--fade-violet-3);
      }
    }
    @media (min-width:$mobileSmall){
      color: var(--fade-violet-1);
      transition: color .3s ease;
    }
    @media (max-width:$mobileSmall){
       color: var(--dark-violet) 
    }
    &::before {
      transform: rotate(90deg);
      @media (min-width:$mobileSmall){
        font-weight: 600;
      }
      @media (max-width:$mobileSmall){
         font-size: toRem(24); 
      }
    }
  }
  // .checkout__logo
  &__logo {
    @media (max-width: toEm(550.98)){
        display: none;
    }
  }
  // .checkout__phone
  &__phone {
    @media (max-width: toEm(550.98)){
      display: none;
    }
  }
  // .checkout__wrapper
  &__wrapper {
    flex: 1;
    background-color: var(--gray-1);
    @media (min-width:$mobileSmall){
      border-radius: toRem(40) toRem(40) 0 0; 
      padding-bottom: toRem(120);
    }
    @media (max-width:$mobileSmall){
      border-radius: toRem(32) toRem(32) 0 0; 
      padding-bottom: toRem(50);
    }
  }
  // .checkout__container
  &__container {
    @media (max-width:$mobileSmall){
       padding-inline: toRem(8); 
    }
  }
  // .checkout__title-main
  &__title-main {
    @media (max-width: toEm(900.98)) and (min-width: $mobileSmall) {
      margin-inline: auto;
      max-width: toRem(590);
    }
    @media (min-width:$mobileSmall){
      font-size: toRem(15);
      font-weight: 500;
      padding: toRem(24) 0;
    }
    @media (max-width: $mobileSmall){
       display: none; 
    }
  }
  // .checkout__body
  &__body {
    @media (min-width:toEm(900.98)){
      display: grid;
      grid-template-columns: 1fr 32%;
      column-gap: toRem(8);
    }
    @media (max-width: toEm(900.98)) {
        margin-inline: auto;
        max-width: toRem(590);
    }
  }
  // .checkout__data
  &__data {
  }
  // .checkout__steps
  &__steps {
  }
  // .checkout__tabs
  &__tabs {
    position: relative;
  
  }
  // .checkout__tab
  &__tab {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    &.tab-active {
      visibility: visible;
      position: static;
      opacity: 1;
    }
  }
  // .checkout__orders
  &__orders {
  }
}

.steps-checkout {
  border-bottom: toRem(1.5) solid var(--gray-1);
  display: flex;
  align-items: center;
  gap: toRem(32);
  @media (min-width:toEm(900.98)){
    min-height: toRem(88);
  }
  @media (max-width: toEm(900.98)){
    justify-content: center;
  }
  @media (min-width:$mobileSmall){
    background-color: var(--white);
    border-radius: toRem(24) toRem(24) 0 0;
    padding: toRem(32);
  }
  @media (max-width:$mobileSmall){
    padding: toRem(24) toRem(16);
  }
  // .steps-checkout__btn
  &__btn {
    color: var(--fade-violet-1);
    display: grid;
    align-items: center;
    grid-template-columns: auto auto; 
    gap: toRem(8);
    text-align: left;
    &.step-active {
      color: var(--dark-violet);
    }
    &.step-completed {}
    @media (min-width:$mobileSmall){
       font-size: toRem(11); 
    }
    @media (max-width:$mobileSmall){
      font-size: toRem(10); 
    }
  }
  // .steps-checkout__circle
  &__circle {
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    position: relative;
    @media (min-width:$mobileSmall){
      width: toRem(24);
    }
    @media (max-width:$mobileSmall){
      width: toRem(16);
    }
  }
  // .steps-checkout__num
  &__num {
    display: grid;
    place-items: center;
    aspect-ratio: 1;
    border-radius: 50%;
    color: var(--white);
    background-color: var(--fade-violet-1);
    @media (min-width:$mobileSmall){
      width: toRem(24);
    }
    @media (max-width:$mobileSmall){
      width: toRem(16);
      font-size: toRem(9); 
    }
    .step-active & {
      background-color: var(--dark-violet);
    }
    .step-completed & {
      display: none;
    }
  }
  // .steps-checkout__complete
  &__complete {
    display: none;
    line-height: 0.8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media (min-width:$mobileSmall){
      font-size: toRem(29);
    }
    @media (max-width:$mobileSmall){
      font-size: toRem(19);
    }
    .step-completed & {
      display: block;
    }
  }
}

.orders-checkout {
  @media (max-width: toEm(900.98)){
      display: none;
  }
  // .orders-checkout__cart
  &__cart {
    @media (min-width:toEm(900.98)){
      position: sticky;
      top: toRem(16);
      border-radius: toRem(24);
      background-color: var(--white);
      // min-height: calc(100vh - toRem(120));
      // max-height: calc(100vh - toRem(120));
    }
  }
  // .orders-checkout__spoller
  &__spoller {
    @media (max-width: toEm(900.98)){
      background-color: var(--white);
      position: sticky;
      position: -webkit-sticky;
      bottom: var(--height);
      bottom: 0;
      z-index: 2;
      transform: translate3d(0,0,0);
    }
  }
  // .orders-checkout__orders
  &__orders {
  }
  // .orders-checkout__head
  &__head {
    @include adaptiveValue("padding", 32, 24,2,1440.98,900.98);
    // @extend %padding32-24;
    @media (min-width:toEm(900.98)){
      min-height: toRem(88);
      border-bottom: toRem(1.5) solid var(--gray-1);
    }
    @media (max-width: toEm(900.98)){
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: toRem(10);
      padding-inline: toRem(24);
      padding-top: toRem(24);
      padding-bottom: toRem(24);
      border-top: toRem(1.5) solid var(--gray-1);
      &._spoller-active {
        padding-bottom: toRem(12);
      }
    }
  }
  // .orders-checkout__info
  &__info {
    font-weight: 500;
    @extend %fonsSize13-14;
    @media (min-width:toEm(900.98)){
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: toRem(20);
    }
    @media (max-width: toEm(900.98)){

    }
    @media (min-width:$mobileSmall){
       color: var(--fade-violet-2) 
    }
    @media (max-width:$mobileSmall){
       color: var(--violet) 
    }
  }
  // .orders-checkout__change
  &__change {
    @media (max-width: toEm(900.98)){
      padding: toRem(0) toRem(24) toRem(12);
    }
  }
  // .orders-checkout__arrow
  &__arrow {
    @media (min-width:toEm(900.98)){
       display: none; 
    }
    @media (max-width: toEm(900.98)){
        display: flex;
        align-items: center;
        gap: toRem(8);
        font-size: toRem(14);
        font-weight: 500;
        &::before {
          order: 2;
          font-size: toRem(24);
          transition: transform .3s ease;
          ._spoller-active & {
            transform: rotate(-180deg);
          }
        }
    }
  }
	// .orders-checkout__wrapper
	&__wrapper {
    position: relative;
	}
  // .orders-checkout__body
  &__body {
    overflow-y: auto;
    @extend %padding32-24;
    ._more-content & {
      min-height: toRem(300);
      overscroll-behavior: contain;
      -webkit-mask: linear-gradient(to top, rgba(255, 255, 255, 0) 0, #fff 10%);
      mask: linear-gradient(to top, rgba(255, 255, 255, 0) 0, #fff 10%);
    }
    @media (max-width: toEm(900.98)){
        height: 300px;
    }
  }
  // .orders-checkout__type
  &__type {
    &:not(:last-child) {
      margin-bottom: toRem(16);
    }
  }
  // .orders-checkout__sub-head
  &__sub-head {
    @extend %flexCenterGap8;
    justify-content: space-between;
    margin-bottom: toRem(4);
  }
	// .orders-checkout__type-txt
	&__type-txt {
    color: var(--fade-violet-2);
    font-weight: 600;
    @extend %flexCenterGap8;
    &:before {
      font-size: toRem(24);
    }
    @media (min-width:$mobileSmall){
      font-size: toRem(11); 
    }
    @media (max-width:$mobileSmall){
      font-size: toRem(14); 
    }
	}
  // .orders-checkout__subtotoal
  &__subtotoal {
    font-weight: 500;
    @extend %fonsSize13-14;
  }
  // .orders-checkout__item
  &__item {
    &:not(:last-child) {
      margin-bottom: toRem(4);
    }
  }
  // .orders-checkout__total
  &__total {
    @extend %padding32-24;
    @media (min-width:toEm(900.98)){
      border-top: toRem(1.5) solid var(--gray-1);
    }
    @media (max-width: toEm(900.98)){
      // background-color: var(--white);
      // position: sticky;
      // position: -webkit-sticky;
      // bottom: 0px;
      // z-index: 3;
      // transform: translate3d(0,0,0);
    }
  }
  // .orders-checkout__lines
  &__lines {
    @extend %flexCenterGap8;
    justify-content: space-between;
    font-weight: 600;
    &:not(:last-child) {
      @media (min-width:$mobileSmall){
         margin-bottom: toRem(13); 
       }
       @media (max-width:$mobileSmall){
        margin-bottom: toRem(20); 
      }
    }
    &.lines-total {
      .orders-checkout__text {
        color: var(--dark-violet);
        @media (min-width:$mobileSmall){
           font-size: toRem(13); 
        }
      }
      .orders-checkout__sum {
        @media (min-width:$mobileSmall){
           font-size: toRem(23); 
        }
        @media (max-width:$mobileSmall){
           font-size: toRem(20); 
        }
      }
    }
  }
  // .orders-checkout__text
  &__text {
    color: var(--fade-violet-2);
    @media (max-width:$mobileSmall){
      font-size: toRem(14); 
    }
  }
  // .orders-checkout__sum
  &__sum {
    text-align: right;
  }
}

.item-orders {
  background-color: var(--gray-1);
  border-radius: toRem(24);
  display: grid;
  // 122 160 40
  grid-template-columns: 38% 1fr auto;
  // .item-orders__img
  &__img {
    padding: toRem(8);
    aspect-ratio: 106/74;
    img {
      border-radius: toRem(16);
      aspect-ratio: 106/69;
    }
  }
  // .item-orders__body
  &__body {
    padding: toRem(8);
    line-height: 1.45;
    display: flex;
    flex-direction: column;
  }
  // .item-orders__title
  &__title {
    flex: 1;
    font-weight: 600;
    color: var(--fade-violet-2);
    margin-bottom: toRem(4);
    @media (min-width:$mobileSmall){
      font-size: toRem(11);
    }
    @media (max-width:$mobileSmall){
      font-size: toRem(12);
    }
  }
  // .item-orders__amount
  &__amount {
    font-weight: 500;
    color: var(--fade-violet-2);
    @extend %fonsSize13-14;
    margin-bottom: toRem(4);
  }
  // .item-orders__price
  &__price {
    font-weight: 500;
    @extend %fonsSize13-14;
  }
  // .item-orders__button
  &__button {
    padding: toRem(8);
    margin-inline: auto;
  }
  // .item-orders__btn
  &__btn {
    font-size: toRem(20);
  }
}

%tabBg-br-r {
  background-color: var(--white);
  @media (min-width:$mobileSmall){
    border-radius: toRem(0) toRem(0) toRem(24) toRem(24); 
  }
  @media (max-width:$mobileSmall){
    border-radius: toRem(24) toRem(24) toRem(24) toRem(24); 
  }
}

%gridClm-2 {
  @media (min-width:$mobileSmall){
    grid-template-columns: 1fr 1fr;
    gap: toRem(18); 
  }
  @media (max-width:$mobileSmall){
    grid-template-columns: 1fr;
    gap: toRem(16); 
  }
}

.tab-checkout {
  width: 100%;
	
  // .tab-checkout_my-data
	&_my-data {
    @extend %padding32-24;
    @extend %tabBg-br-r;
  }
  // .tab-checkout_order
  &_order {

  }
  // .tab-checkout_payment
  &_payment {

  }
	// .tab-checkout__head
	&__head {
    @extend %flexCenterGap8;
    @include adaptiveValue("margin-bottom", 32, 24,0,1440.98,480.98);
    @media (min-width:$mobileSmall){
      justify-content: space-between;
    }
    @media (max-width:$mobileSmall){
      flex-direction: column;   
      align-items: flex-start;     
    }
	}
  // .tab-checkout__title
  &__title {
    line-height: 1.1;
    font-weight: 500;
    @include adaptiveValue("font-size", 28, 20,0,1440.98,480.98);
  }
  // .tab-checkout__item
  &__item {
    @include adaptiveValue("padding-bottom", 32, 24,0,1440.98,480.98);
    @include adaptiveValue("margin-bottom", 32, 24,0,1440.98,480.98);
    border-bottom: toRem(1.5) solid var(--gray-1);
  }
  // .tab-checkout__subtitle
  &__subtitle {
    font-weight: 500;
    line-height: 1.1;
    &:not(:last-child) {
      margin-bottom: toRem(16);
    }
  }
  // .tab-checkout__items
  &__items {
    display: grid;
    gap: toRem(8);
    &.items-gap-16 {
      gap: toRem(16);
    }
    &.items-cl-2 {
      @extend %gridClm-2;
    }
    &.items-cl-2-nw {
      grid-template-columns: 1fr 1fr;
      @media (min-width:$mobileSmall){
        gap: toRem(18); 
      }
      @media (max-width:$mobileSmall){
        gap: toRem(8); 
      }
    }
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 32, 24,0,1440.98,480.98);
    }
  }
	// .tab-checkout__row
	&__row {
    display: grid;
    &.row-cl-2 {
      @extend %gridClm-2;
    }
    &.row-gap-16 {
      gap: toRem(16);
    }
	}
  // .tab-checkout__btn
  &__btn {
  }

	// .tab-checkout__spollers
	&__spollers {
	}
	// .tab-checkout__spoller-body
	&__spoller-body {
	}
	// .tab-checkout__content
	&__content {
    @media (min-width:$mobileSmall){
      padding-top: toRem(32);
    }
    @media (max-width:$mobileSmall){
      padding-top: toRem(16);
    }
	}
	// .tab-checkout__body
	&__body {
    background-color: var(--white);
    border-radius: toRem(24) toRem(24) toRem(24) toRem(24); 
    @extend %padding32-24;
    &:first-child {
      @media (min-width:$mobileSmall){
        border-radius: toRem(0) toRem(0) toRem(24) toRem(24); 
      }
    }
    &:not(:last-child) {
      margin-bottom: toRem(8);
    }
	}
	// .tab-checkout__summary
	&__summary {
    @extend %flexCenterGap8;
    cursor: pointer;
    .tab-checkout__title {
      flex: 1;
      ._data-complete & {
        @media (max-width:$mobileSmall){
           font-size: toRem(14); 
        }
      }
    }
    &.icon-check {
      &::before {
        display: none;
        color: var(--fade-violet-1);
        @media (min-width:$mobileSmall){
          font-size: toRem(29);
        }
        @media (max-width:$mobileSmall){
          font-size: toRem(19);
        }
        ._data-complete & {
          display: block
        }
      }
    }
    &._spoller-active {
      .tab-checkout__arrow {
        transform: rotate(-180deg);
      }
    }
	}
	// .tab-checkout__title
	&__title {
	}
	// .tab-checkout__arrow
	&__arrow {
    @media (max-width:$mobileSmall){
        background-color: transparent;
        width: auto;
        display: block;
    }
    &.icon-arrow-down {
      &::before {
        @media (max-width:$mobileSmall){
          font-size: toRem(32); 
        }
      }
    }
	}
	// .tab-checkout__content
	&__content {
	}
}






















// ==  =======================================
// ---------------------------------------------------