
// == WHITE LABEL SOLUTION (MAIN PAGE) 
.banner {
  @media (min-width:toEm(700.98)){
    margin-top: toRem(32);
    margin-bottom: toRem(56); 
  }
  @media (max-width:toEm(700.98)){
    margin-top: toRem(16);
    margin-bottom: toRem(32);
  }
  @media (max-width:$mobileSmall){
     margin-top: toRem(12); 
  }
  // .banner__container
  &__container {
  }
  // .banner__img
  &__img {
    @extend %borderRadius30-24;
    overflow: hidden;
  }
}

.main {
  // .main__container
  &__container {
  }
  // .main__title
  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 24, 12,0,1440.98,480.98);
    }
  }
  // .main__filters
  &__filters {
   
    &:not(:last-child) {
      @media (min-width:$mobileSmall){
         margin-bottom: toRem(24); 
      }
      @media (max-width:$mobileSmall){
          margin-bottom: toRem(12);
      }
    }
  }
	// .main__filters-btn
	&__filters-btn {
    @media (min-width:$mobileSmall){
       display: none; 
    }
    @media (max-width:$mobileSmall){
       min-height: toRem(48); 
       border-radius: toRem(30);
       padding: toRem(4) toRem(16);
       background-color: var(--white);
        font-size: toRem(14);
       display: flex;
       align-items: center;
       justify-content: space-between;
       gap: toRem(8);
       &::before {
        order: 2;
        font-size: toRem(24);
       }
    }
	}
  // .main__card-certificate
  &__card-certificate {
  }
  // .main__card-news
  &__card-news {
  }
	// .main__more-btn
	&__more-btn {
    // @media (min-width:$mobileSmall){
    //    margin-top: toRem(12); 
    // }
    // @media (max-width:$mobileSmall){
    //   margin-top: toRem(32);
    // }
    .more-btn__btn {
      @media (min-width:$mobileSmall){
        max-width: fit-content;
        margin-inline: auto;
      }
    }
	}
}

.card-news {
  position: relative;
  overflow: hidden;
  line-height: 1.2;
  @extend %borderRadius30-24;
  background-color: var(--white);
  @extend %padding32-24;
  transition: box-shadow .3s ease;
  @media (any-hover: hover){
    &:hover{
      box-shadow: 0 4px 40px 0 rgba(33, 5, 41, 0.12);
      .card-news__btn {
        background-color: var(--violet);
        color: var(--white);
      }
    }
  }
  .white-label-page & {
    @media (any-hover: hover){
      &:hover{
        .card-news__btn {
          background-color: var(--dark-violet);
        }
      }
    }
  }
  // .card-news__title
  &__title {
    @extend %fonsSize32-20;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 32, 20,0,1440.98,480.98);
    }
  }
  // .card-news__wrapper
  &__wrapper {
    display: grid;
    align-items: flex-end;
    @include adaptiveValue("gap", 32, 24,0,1440.98,480.98);
    @media (min-width:$mobileSmall){
      grid-template-columns: 52% 1fr;
    }
  }
  // .card-news__content
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;
  }
  // .card-news__body
  &__body {
    margin-bottom: toRem(36);
    @extend %fonsSize15-14;
  }
  // .card-news__name
  &__name {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 10, 4,0,1440.98,480.98);
    }
  }
  // .card-news__subname
  &__subname {
    color: var(--fade-violet-2);
  }
  // .card-news__btn
  &__btn {
    @media (max-width:$mobileSmall){
       max-width: fit-content; 
       padding: toRem(2) toRem(12) !important;
    }
  }
  // .card-news__img
  &__img {
    @media (max-width:$mobileSmall){
       position: absolute;
       max-width: 38%;
       z-index: 0; 
       right: 0;
       bottom: 0;

       transform-origin: 50% 50%;
       transform: translate(0,7%) rotate(7.67deg);
    }
    img {
      @extend %borderRadius22-16;
      width: 100%;
      height: auto;
    }
  }
}

